<div class="grid grid-col-1 md:grid-col-2 gap-3">
  <label class="sf-textarea sf-textarea--size-1 sf-textarea--bordered flex flex-col"><span class="sf-textarea-label flex"><span class="sf-textarea-text">С границей</span></span><textarea class="transition" rows="3"></textarea></label>
  <label class="sf-textarea sf-textarea--size-1 sf-textarea--filled flex flex-col"><span class="sf-textarea-label flex"><span class="sf-textarea-text">На поверхности</span></span><textarea class="transition" rows="3"></textarea></label>
</div>
