<sf-gallery title="Галерея проекта" text="Выбранное изображение" thumbs="false" dots="true">
  <figure slot="slide" class="radius-default bg-primary-container p-3"><div class="text-large">Первый макет</div><figcaption>Главная страница проекта</figcaption></figure>
  <figure slot="slide" class="radius-default bg-secondary-container p-3"><div class="text-large">Второй макет</div><figcaption>Каталог материалов</figcaption></figure>
  <figure slot="slide" class="radius-default bg-tertiary-container p-3"><div class="text-large">Третий макет</div><figcaption>Карточка материала</figcaption></figure>
</sf-gallery>
