<div class="flex flex-wrap gap-4 items-cross-center">
 <div class="sf-loader-container sf-loader--size-1/2" data-variant="arc" data-infinite="true" data-label=""></div>
 <div class="sf-loader-container sf-loader--size-1" data-variant="arc" data-infinite="true" data-label="Загрузка"></div>
 <div class="sf-loader-container sf-loader--size-2" data-variant="dots" data-dots="16" data-filled="6" data-label=""></div>
 <div class="sf-loader-container sf-loader--size-3" data-variant="dots" data-dots="16" data-filled="6" data-label="Обработка"></div>
</div>
