<div class="flex flex-wrap gap-2 items-cross-center">
  <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1">
    <i class="sf-icon" aria-hidden="true">edit</i>
    <span class="sf-button-text-container">Редактировать</span>
  </button>
  <button type="button" class="sf-button sf-button--outline sf-button--primary sf-button--size-1">
    <span class="sf-button-text-container">Продолжить</span>
    <i class="sf-icon" aria-hidden="true">arrow_forward</i>
  </button>
</div>
