<div class="flex flex-col gap-4">
<section class="grid grid-col-1 md:grid-col-2 gap-2 items-main-start items-cross-start">
 <section
 class="grid grid-col-1 max-w-lg gap-2 items-main-start items-cross-start"
 >
 <div
 class="sf-file-upload sf-file-upload--size-1/3 flex flex-col items-cross-center"
 >
 <div
 class="sf-featured-icon sf-featured-icon--size-1/3 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--clear flex transition"
 >
 <i class="sf-icon">error</i>
 </div>
 <div class="sf-file-upload-bottom flex flex-col items-cross-center">
 <div class="sf-file-upload-block flex">
 <div class="sf-file-upload-block-text">
 <span class="sf-file-upload-link">Click to upload</span> or drag and
 drop
 </div>
 </div>
 <span class="sf-file-upload-text"
 >SVG, PNG, JPG or GIF (max. 800x400px)</span
 >
 </div>
 </div>
 <div
 class="sf-file-upload sf-file-upload--size-1/3 disabled flex flex-col items-cross-center"
 >
 <div
 class="sf-featured-icon sf-featured-icon--size-1/3 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--clear flex transition"
 >
 <i class="sf-icon">error</i>
 </div>
 <div class="sf-file-upload-bottom flex flex-col items-cross-center">
 <div class="sf-file-upload-block flex">
 <div class="sf-file-upload-block-text">
 <span class="sf-file-upload-link">Click to upload</span> or drag and
 drop
 </div>
 </div>
 <span class="sf-file-upload-text"
 >SVG, PNG, JPG or GIF (max. 800x400px)</span
 >
 </div>
 </div>
 <div
 class="sf-file-upload sf-file-upload--size-1/2 flex flex-col items-cross-center"
 >
 <div
 class="sf-featured-icon sf-featured-icon--size-1/2 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--clear flex transition"
 >
 <i class="sf-icon">error</i>
 </div>
 <div class="sf-file-upload-bottom flex flex-col items-cross-center">
 <div class="sf-file-upload-block flex">
 <div class="sf-file-upload-block-text">
 <span class="sf-file-upload-link">Click to upload</span> or drag and
 drop
 </div>
 </div>
 <span class="sf-file-upload-text"
 >SVG, PNG, JPG or GIF (max. 800x400px)</span
 >
 </div>
 </div>
 <div
 class="sf-file-upload sf-file-upload--size-1/2 disabled flex flex-col items-cross-center"
 >
 <div
 class="sf-featured-icon sf-featured-icon--size-1/2 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--clear flex transition"
 >
 <i class="sf-icon">error</i>
 </div>
 <div class="sf-file-upload-bottom flex flex-col items-cross-center">
 <div class="sf-file-upload-block flex">
 <div class="sf-file-upload-block-text">
 <span class="sf-file-upload-link">Click to upload</span> or drag and
 drop
 </div>
 </div>
 <span class="sf-file-upload-text"
 >SVG, PNG, JPG or GIF (max. 800x400px)</span
 >
 </div>
 </div>
 <div
 class="sf-file-upload sf-file-upload--size-1 flex flex-col items-cross-center"
 >
 <div
 class="sf-featured-icon sf-featured-icon--size-1 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--clear flex transition"
 >
 <i class="sf-icon">error</i>
 </div>
 <div class="sf-file-upload-bottom flex flex-col items-cross-center">
 <div class="sf-file-upload-block flex">
 <div class="sf-file-upload-block-text">
 <span class="sf-file-upload-link">Click to upload</span> or drag and
 drop
 </div>
 </div>
 <span class="sf-file-upload-text"
 >SVG, PNG, JPG or GIF (max. 800x400px)</span
 >
 </div>
 </div>
 <div
 class="sf-file-upload sf-file-upload--size-1 disabled flex flex-col items-cross-center"
 >
 <div
 class="sf-featured-icon sf-featured-icon--size-1 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--clear flex transition"
 >
 <i class="sf-icon">error</i>
 </div>
 <div class="sf-file-upload-bottom flex flex-col items-cross-center">
 <div class="sf-file-upload-block flex">
 <div class="sf-file-upload-block-text">
 <span class="sf-file-upload-link">Click to upload</span> or drag and
 drop
 </div>
 </div>
 <span class="sf-file-upload-text"
 >SVG, PNG, JPG or GIF (max. 800x400px)</span
 >
 </div>
 </div>
 <div
 class="sf-file-upload sf-file-upload--size-2 flex flex-col items-cross-center"
 >
 <div
 class="sf-featured-icon sf-featured-icon--size-2 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--clear flex transition"
 >
 <i class="sf-icon">error</i>
 </div>
 <div class="sf-file-upload-bottom flex flex-col items-cross-center">
 <div class="sf-file-upload-block flex">
 <div class="sf-file-upload-block-text">
 <span class="sf-file-upload-link">Click to upload</span> or drag and
 drop
 </div>
 </div>
 <span class="sf-file-upload-text"
 >SVG, PNG, JPG or GIF (max. 800x400px)</span
 >
 </div>
 </div>
 <div
 class="sf-file-upload sf-file-upload--size-2 disabled flex flex-col items-cross-center"
 >
 <div
 class="sf-featured-icon sf-featured-icon--size-2 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--clear flex transition"
 >
 <i class="sf-icon">error</i>
 </div>
 <div class="sf-file-upload-bottom flex flex-col items-cross-center">
 <div class="sf-file-upload-block flex">
 <div class="sf-file-upload-block-text">
 <span class="sf-file-upload-link">Click to upload</span> or drag and
 drop
 </div>
 </div>
 <span class="sf-file-upload-text"
 >SVG, PNG, JPG or GIF (max. 800x400px)</span
 >
 </div>
 </div>
 <div
 class="sf-file-upload sf-file-upload--size-3 flex flex-col items-cross-center"
 >
 <div
 class="sf-featured-icon sf-featured-icon--size-3 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--clear flex transition"
 >
 <i class="sf-icon">error</i>
 </div>
 <div class="sf-file-upload-bottom flex flex-col items-cross-center">
 <div class="sf-file-upload-block flex">
 <div class="sf-file-upload-block-text">
 <span class="sf-file-upload-link">Click to upload</span> or drag and
 drop
 </div>
 </div>
 <span class="sf-file-upload-text"
 >SVG, PNG, JPG or GIF (max. 800x400px)</span
 >
 </div>
 </div>
 <div
 class="sf-file-upload sf-file-upload--size-3 disabled flex flex-col items-cross-center"
 >
 <div
 class="sf-featured-icon sf-featured-icon--size-3 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--clear flex transition"
 >
 <i class="sf-icon">error</i>
 </div>
 <div class="sf-file-upload-bottom flex flex-col items-cross-center">
 <div class="sf-file-upload-block flex">
 <div class="sf-file-upload-block-text">
 <span class="sf-file-upload-link">Click to upload</span> or drag and
 drop
 </div>
 </div>
 <span class="sf-file-upload-text"
 >SVG, PNG, JPG or GIF (max. 800x400px)</span
 >
 </div>
 </div>
 </section>
 <section
 class="grid grid-col-1 max-w-lg gap-3 items-main-start items-cross-start"
 >
 <div class="grid grid-col-1 gap-1">
 <div
 class="sf-upload-progress sf-upload-progress--size-1/3 sf-upload-progress--process flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1/3 radius-default"
 >
 <i class="sf-icon">delete</i>
 </button>
 </div>
 <div
 data-stop="1"
 class="sf-progress-bar sf-progress-bar--size-1/3 flex flex-row items-cross-center"
 >
 <div class="sf-progress-bar-main">
 <div
 id="example_progress_1"
 class="sf-progress-bar-progress transition"
 ></div>
 </div>
 <div class="sf-progress-bar-text">0%</div>
 </div>
 </div>
 </div>
 <div
 class="sf-upload-progress sf-upload-progress--size-1/3 sf-upload-progress--done flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <i class="sf-icon sf-icon-solid">check_circle</i>
 </div>
 <div
 data-stop="1"
 class="sf-progress-bar sf-progress-bar--size-1/3 flex flex-row items-cross-center"
 >
 <div class="sf-progress-bar-main">
 <div
  id="example_progress_3"
 class="sf-progress-bar-progress transition"
 ></div>
 </div>
 <div class="sf-progress-bar-text">100%</div>
 </div>
 </div>
 </div>
 <div
 class="sf-upload-progress sf-upload-progress--size-1/3 sf-upload-progress--error flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1/3 radius-default"
 >
 <i class="sf-icon">delete</i>
 </button>
 </div>
 <button class="sf-upload-progress-repeat" type="button">Try again</button>
 </div>
 </div>
 </div>
 <div class="grid grid-col-1 gap-1">
 <div
 class="sf-upload-progress sf-upload-progress--size-1/2 sf-upload-progress--process flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1/2 radius-default"
 >
 <i class="sf-icon">delete</i>
 </button>
 </div>
 <div
 data-stop="1"
 class="sf-progress-bar sf-progress-bar--size-1/2 flex flex-row items-cross-center"
 >
 <div class="sf-progress-bar-main">
 <div
 id="example_progress_4"
 class="sf-progress-bar-progress transition"
 ></div>
 </div>
 <div class="sf-progress-bar-text">0%</div>
 </div>
 </div>
 </div>
 <div
 class="sf-upload-progress sf-upload-progress--size-1/2 sf-upload-progress--done flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <i class="sf-icon sf-icon-solid">check_circle</i>
 </div>
 <div
 data-stop="1"
 class="sf-progress-bar sf-progress-bar--size-1/2 flex flex-row items-cross-center"
 >
 <div class="sf-progress-bar-main">
 <div
  id="example_progress_5"
 class="sf-progress-bar-progress transition"
 ></div>
 </div>
 <div class="sf-progress-bar-text">100%</div>
 </div>
 </div>
 </div>
 <div
 class="sf-upload-progress sf-upload-progress--size-1/2 sf-upload-progress--error flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1/2 radius-default"
 >
 <i class="sf-icon">delete</i>
 </button>
 </div>
 <button class="sf-upload-progress-repeat" type="button">Try again</button>
 </div>
 </div>
 </div>
 <div class="grid grid-col-1 gap-1">
 <div
 class="sf-upload-progress sf-upload-progress--size-1 sf-upload-progress--process flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1 radius-default"
 >
 <i class="sf-icon">delete</i>
 </button>
 </div>
 <div
 data-stop="1"
 class="sf-progress-bar sf-progress-bar--size-1 flex flex-row items-cross-center"
 >
 <div class="sf-progress-bar-main">
 <div
 id="example_progress_6"
 class="sf-progress-bar-progress transition"
 ></div>
 </div>
 <div class="sf-progress-bar-text">0%</div>
 </div>
 </div>
 </div>
 <div
 class="sf-upload-progress sf-upload-progress--size-1 sf-upload-progress--done flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <i class="sf-icon sf-icon-solid">check_circle</i>
 </div>
 <div
 data-stop="1"
 class="sf-progress-bar sf-progress-bar--size-1 flex flex-row items-cross-center"
 >
 <div class="sf-progress-bar-main">
 <div
  id="example_progress_7"
 class="sf-progress-bar-progress transition"
 ></div>
 </div>
 <div class="sf-progress-bar-text">100%</div>
 </div>
 </div>
 </div>
 <div
 class="sf-upload-progress sf-upload-progress--size-1 sf-upload-progress--error flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1 radius-default"
 >
 <i class="sf-icon">delete</i>
 </button>
 </div>
 <button class="sf-upload-progress-repeat" type="button">Try again</button>
 </div>
 </div>
 </div>
 <div class="grid grid-col-1 gap-1">
 <div
 class="sf-upload-progress sf-upload-progress--size-2 sf-upload-progress--process flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-2 radius-default"
 >
 <i class="sf-icon">delete</i>
 </button>
 </div>
 <div
 data-stop="1"
 class="sf-progress-bar sf-progress-bar--size-2 flex flex-row items-cross-center"
 >
 <div class="sf-progress-bar-main">
 <div
 id="example_progress_81"
 class="sf-progress-bar-progress transition"
 ></div>
 </div>
 <div class="sf-progress-bar-text">0%</div>
 </div>
 </div>
 </div>
 <div
 class="sf-upload-progress sf-upload-progress--size-2 sf-upload-progress--done flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <i class="sf-icon sf-icon-solid">check_circle</i>
 </div>
 <div
 data-stop="1"
 class="sf-progress-bar sf-progress-bar--size-2 flex flex-row items-cross-center"
 >
 <div class="sf-progress-bar-main">
 <div
  id="example_progress_9"
 class="sf-progress-bar-progress transition"
 ></div>
 </div>
 <div class="sf-progress-bar-text">100%</div>
 </div>
 </div>
 </div>
 <div
 class="sf-upload-progress sf-upload-progress--size-2 sf-upload-progress--error flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-2 radius-default"
 >
 <i class="sf-icon">delete</i>
 </button>
 </div>
 <button class="sf-upload-progress-repeat" type="button">Try again</button>
 </div>
 </div>
 </div>
 <div class="grid grid-col-1 gap-1">
 <div
 class="sf-upload-progress sf-upload-progress--size-3 sf-upload-progress--process flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-3 radius-default"
 >
 <i class="sf-icon">delete</i>
 </button>
 </div>
 <div
 data-stop="1"
 class="sf-progress-bar sf-progress-bar--size-3 flex flex-row items-cross-center"
 >
 <div class="sf-progress-bar-main">
 <div
 id="example_progress_10"
 class="sf-progress-bar-progress transition"
 ></div>
 </div>
 <div class="sf-progress-bar-text">0%</div>
 </div>
 </div>
 </div>
 <div
 class="sf-upload-progress sf-upload-progress--size-3 sf-upload-progress--done flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <i class="sf-icon sf-icon-solid">check_circle</i>
 </div>
 <div
 data-stop="1"
 class="sf-progress-bar sf-progress-bar--size-3 flex flex-row items-cross-center"
 >
 <div class="sf-progress-bar-main">
 <div
  id="example_progress_11"
 class="sf-progress-bar-progress transition"
 ></div>
 </div>
 <div class="sf-progress-bar-text">100%</div>
 </div>
 </div>
 </div>
 <div
 class="sf-upload-progress sf-upload-progress--size-3 sf-upload-progress--error flex items-main-start items-cross-start"
 >
 <i class="sf-icon">cloud_upload</i>
 <div class="sf-upload-progress-content flex flex-col items-cross-start">
 <div class="sf-upload-progress-top flex items-cross-start">
 <div class="sf-upload-progress-left flex flex-col">
 <div class="sf-upload-progress-name">
 Tech design requirements.pdf
 </div>
 <div class="sf-upload-progress-text">200 KB</div>
 </div>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-3 radius-default"
 >
 <i class="sf-icon">delete</i>
 </button>
 </div>
 <button class="sf-upload-progress-repeat" type="button">Try again</button>
 </div>
 </div>
 </div>
 </section>
</section>
<section class="grid grid-col-1 gap-3 items-cross-start">
 <section class="grid grid-col-1 md:grid-col-4 gap-2 items-cross-start">
 <div class="grid grid-col-1 gap-1">
 <div
 class="sf-file-upload cursor-pointer sf-file-upload--size-1 flex flex-col items-cross-center"
 data-multiple="true"
 data-accept=".pdf,.png,.jpg,.jpeg,.svg"
 data-target="#file-upload-selected-files"
 >
 <div
 class="sf-featured-icon sf-featured-icon--size-1 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--clear flex transition"
 >
 <i class="sf-icon">upload_file</i>
 </div>
 <div class="sf-file-upload-bottom flex flex-col items-cross-center">
 <div class="sf-file-upload-block flex">
 <div class="sf-file-upload-block-text">
 <span class="sf-file-upload-link">Click to upload</span> or drag and drop
 </div>
 </div>
 <span class="sf-file-upload-text">SVG, PNG, JPG or PDF</span>
 </div>
 </div>
 <div class="flex flex-row gap-1">
 <button id="file-upload-fake-progress" type="button" class="sf-button sf-button--size-1 sf-button--default sf-button--primary radius-default"><span class="sf-button-text-container">Fake progress</span></button>
 <button id="file-upload-fake-error" type="button" class="sf-button sf-button--size-1 sf-button--outline sf-button--on-surface radius-default"><span class="sf-button-text-container">Set error</span></button>
 </div>
 </div>
 <div id="file-upload-selected-files" class="sf-file-upload-files grid grid-col-1 gap-1 w-full"></div>
 </section>
 <div class="max-w-sm">
 <div
 class="sf-file-upload sf-file-upload--size-1 disabled flex flex-col items-cross-center"
 data-multiple="false"
 >
 <div
 class="sf-featured-icon sf-featured-icon--size-1 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--clear flex transition"
 >
 <i class="sf-icon">upload_file</i>
 </div>
 <div class="sf-file-upload-bottom flex flex-col items-cross-center">
 <div class="sf-file-upload-block flex">
 <div class="sf-file-upload-block-text">
 <span class="sf-file-upload-link">Click to upload</span> or drag and drop
 </div>
 </div>
 <span class="sf-file-upload-text">Disabled state</span>
 </div>
 </div>
 </div>
</section>
</div>
