<div class="flex flex-wrap gap-2 items-cross-center">
  <span class="sf-avatar sf-avatar--text sf-avatar--size-1/4 flex items-cross-center content-main-center" aria-hidden="true"><span class="sf-avatar-text">АБ</span></span>
  <span class="sf-avatar sf-avatar--text sf-avatar--size-1/3 flex items-cross-center content-main-center" aria-hidden="true"><span class="sf-avatar-text">АБ</span></span>
  <span class="sf-avatar sf-avatar--text sf-avatar--size-1/2 flex items-cross-center content-main-center" aria-hidden="true"><span class="sf-avatar-text">АБ</span></span>
  <span class="sf-avatar sf-avatar--text sf-avatar--size-1 flex items-cross-center content-main-center" aria-hidden="true"><span class="sf-avatar-text">АБ</span></span>
  <span class="sf-avatar sf-avatar--text sf-avatar--size-2 flex items-cross-center content-main-center" aria-hidden="true"><span class="sf-avatar-text">АБ</span></span>
  <span class="sf-avatar sf-avatar--text sf-avatar--size-3 flex items-cross-center content-main-center" aria-hidden="true"><span class="sf-avatar-text">АБ</span></span>
</div>
