<div class="flex flex-wrap gap-2 items-cross-center">
  <button type="button" class="sf-avatar sf-avatar--text sf-avatar--size-1 flex items-cross-center content-main-center transition" aria-label="Размер 1"><span class="sf-avatar--text">АБ</span></button>
  <button type="button" class="sf-avatar sf-avatar--text sf-avatar--size-2 flex items-cross-center content-main-center transition" aria-label="Размер 2"><span class="sf-avatar--text">АБ</span></button>
  <button type="button" class="sf-avatar sf-avatar--text sf-avatar--size-3 flex items-cross-center content-main-center transition" aria-label="Размер 3"><span class="sf-avatar--text">АБ</span></button>
</div>
