<div class="flex flex-wrap gap-2 items-cross-center">
  <button type="button" class="sf-icon-button sf-icon-button--icon sf-icon-button--default sf-icon-button--primary sf-icon-button--size-1" aria-label="Добавить, размер 1">
    <i class="sf-icon" aria-hidden="true">add</i>
  </button>
  <button type="button" class="sf-icon-button sf-icon-button--icon sf-icon-button--default sf-icon-button--primary sf-icon-button--size-2" aria-label="Добавить, размер 2">
    <i class="sf-icon" aria-hidden="true">add</i>
  </button>
  <button type="button" class="sf-icon-button sf-icon-button--icon sf-icon-button--default sf-icon-button--primary sf-icon-button--size-3" aria-label="Добавить, размер 3">
    <i class="sf-icon" aria-hidden="true">add</i>
  </button>
</div>
