<div class="flex justify-center p-8">
  <span class="sf-tooltip-anchor">
    <button type="button"
      class="sf-button sf-button--outline sf-button--on-surface sf-button--size-1"
      data-tooltip="long-tooltip" aria-describedby="long-tooltip">
      <span class="sf-button-text-container">Ограничения</span>
    </button>
    <span id="long-tooltip"
      class="sf-tooltip sf-tooltip--light sf-tooltip--size-1 sf-tooltip--arrow-bottom-center"
      hidden>
      <span class="sf-tooltip-content flex flex-col">
        <span class="sf-tooltip-wrap flex flex-col">
          <span class="sf-tooltip-text">Перед публикацией проверьте права доступа</span>
          <span class="sf-tooltip-supporting-text">Очень длинный идентификатор project-documentation-access-policy переносится без обрезания.</span>
        </span>
        <span class="sf-tooltip-tail" aria-hidden="true"></span>
      </span>
    </span>
  </span>
</div>
