<label class="sf-country-code sf-country-code--size-1 flex flex-col" data-locale="ru" data-use-mask="true">
  <span class="sf-country-code-label flex"><span class="sf-country-code-text">Телефон</span></span>
  <span class="sf-country-code-field flex items-center"><span class="sf-country-code-left flex items-center"><span class="sf-country-code-flag-icon"></span><i class="sf-icon" aria-hidden="true">expand_more</i></span><input type="tel" value="+49 1511234567"></span>
  <span class="sf-country-code-list"><span class="sf-country-code-items flex flex-col">
    <span class="sf-country-code-item" data-iso2="DE" data-code="+49" data-mask-pattern="+49 000 0000000">Германия (+49)</span>
    <span class="sf-country-code-item" data-iso2="RU" data-code="+7" data-mask-pattern="+7 000 000-00-00">Россия (+7)</span>
  </span></span>
  <span class="sf-country-code-hint">Выберите страну: формат номера изменится.</span>
</label>
