<nav class="sf-pagination flex flex-col" aria-label="Страницы результатов">
  <div class="sf-pagination-main flex items-cross-center content-main-between">
    <div class="sf-pagination-total flex items-cross-center">Найдено: 96</div>
    <div class="sf-pagination-container flex items-cross-center">
      <button type="button" class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1" disabled aria-label="Предыдущая страница"><i class="sf-icon" aria-hidden="true">keyboard_arrow_left</i></button>
      <button type="button" class="sf-page-number sf-page-number--square selected transition" aria-current="page">1</button>
      <button type="button" class="sf-page-number sf-page-number--square transition">2</button>
      <button type="button" class="sf-page-number sf-page-number--square transition">3</button>
      <button type="button" class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1" aria-label="Следующая страница"><i class="sf-icon" aria-hidden="true">keyboard_arrow_right</i></button>
    </div>
  </div>
</nav>
