<div class="flex flex-col gap-4">
<div>
 <div class="sf-pagination flex flex-col">
 <div class="sf-pagination-top flex content-main-center">
 <button
 type="button"
 class="sf-button sf-button--primary sf-button--outline sf-button--size-1"
 >
 <span class="sf-button-text-container">Show more</span>
 </button>
 </div>
 <div class="sf-pagination-main flex items-cross-center content-main-between">
 <div class="sf-pagination-left flex items-cross-center">
 <div class="sf-pagination-marked flex">
 <div class="sf-pagination-marked-text">Selected:</div>
 <div class="sf-pagination-marked-text">0/10</div>
 </div>
 <div class="sf-pagination-total flex items-cross-center">
 <div class="sf-pagination-total">Total:</div>
 <button
 type="button"
 class="sf-button sf-button--primary sf-button--link sf-button--size-1"
 >
 <span class="sf-button-text-container">Show more</span>
 </button>
 </div>
 </div>
 <div class="sf-pagination-container flex items-cross-center">
 <span class="">Pages:</span>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1"
 >
 <i class="sf-icon">keyboard_arrow_left</i>
 </button>
 <button type="button" class="sf-page-number selected sf-page-number--square transition">
 1
 </button>
 <button type="button" class="sf-page-number sf-page-number--square transition">
 2
 </button>
 <button type="button" class="sf-page-number sf-page-number--square transition">
 3
 </button>
 <button type="button" class="sf-page-number sf-page-number--square transition">
 ...
 </button>
 <button type="button" class="sf-page-number sf-page-number--square transition">
 8
 </button>
 <button type="button" class="sf-page-number sf-page-number--square transition">
 9
 </button>
 <button type="button" class="sf-page-number sf-page-number--square transition">
 10
 </button>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1"
 >
 <i class="sf-icon">keyboard_arrow_right</i>
 </button>
 <button
 type="button"
 class="sf-button sf-button--primary sf-button--link sf-button--size-1"
 >
 <span class="sf-button-text-container">Last</span>
 </button>
 </div>
 <div class="sf-pagination-count flex items-cross-center">
 <span>Per page:</span>
 <div
 class="sf-dropdown sf-dropdown--size-1 sf-dropdown--outlined sf-dropdown--text flex flex-col"
 >
 <div class="sf-dropdown-field cursor-pointer items-cross-center transition flex relative" tabindex="0">
 <input
 placeholder="placeholder"
 type="text"
 name="dropdown_input_1_3"
 />
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1/2 absolute radius-default"
 >
 <i class="sf-icon">keyboard_arrow_down</i>
 </button>
 </div>
 <div class="sf-list flex flex-col">
 <div class="sf-list-container-wrap">
 <div class="sf-list-container flex flex-col">
 <div
 tabindex="0"
 role="button"
 class="sf-list-item transition cursor-pointer sf-list-item--text flex items-cross-center sf-list-item--size-1"
 >
 <div class="sf-list-item-wrap flex flex-1">
 <div class="sf-list-item-container">10</div>
 </div>
 </div>
 <div
 tabindex="0"
 role="button"
 class="sf-list-item transition cursor-pointer sf-list-item--text flex items-cross-center sf-list-item--size-1"
 >
 <div class="sf-list-item-wrap flex flex-1">
 <div class="sf-list-item-container">20</div>
 </div>
 </div>
 <div
 tabindex="0"
 role="button"
 class="sf-list-item transition cursor-pointer sf-list-item--text flex items-cross-center sf-list-item--size-1"
 >
 <div class="sf-list-item-wrap flex flex-1">
 <div class="sf-list-item-container">30</div>
 </div>
 </div>
 <div
 tabindex="0"
 role="button"
 class="sf-list-item cursor-pointer selected transition sf-list-item--text flex items-cross-center sf-list-item--size-1"
 >
 <div class="sf-list-item-wrap flex flex-1">
 <div class="sf-list-item-container">40</div>
 </div>
 <div class="sf-list-item-selected-item flex">
 <i class="sf-icon">check</i>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <div class="sf-pagination-bottom flex items-cross-center">
 <div
 class="sf-dropdown sf-dropdown--size-1 sf-dropdown--outlined sf-dropdown--text flex flex-col"
 >
 <div class="sf-dropdown-field cursor-pointer items-cross-center transition flex relative" tabindex="0">
 <input
 placeholder="placeholder"
 type="text"
 name="dropdown_input_1_3"
 />
 <button
 type="button"
 class="sf-icon-button sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1/2 absolute radius-default"
 >
 <i class="sf-icon">keyboard_arrow_down</i>
 </button>
 </div>
 <div class="sf-list flex flex-col">
 <div class="sf-list-container-wrap">
 <div class="sf-list-container flex flex-col">
 <div
 tabindex="0"
 role="button"
 class="sf-list-item transition selected cursor-pointer sf-list-item--text flex items-cross-center sf-list-item--size-1"
 >
 <div class="sf-list-item-wrap flex flex-1">
 <div class="sf-list-item-container">Action 1</div>
 </div>
 </div>
 <div
 tabindex="0"
 role="button"
 class="sf-list-item transition cursor-pointer sf-list-item--text flex items-cross-center sf-list-item--size-1"
 >
 <div class="sf-list-item-wrap flex flex-1">
 <div class="sf-list-item-container">Action 2</div>
 </div>
 </div>
 <div
 tabindex="0"
 role="button"
 class="sf-list-item transition cursor-pointer sf-list-item--text flex items-cross-center sf-list-item--size-1"
 >
 <div class="sf-list-item-wrap flex flex-1">
 <div class="sf-list-item-container">Action 3</div>
 </div>
 </div>
 <div
 tabindex="0"
 role="button"
 class="sf-list-item cursor-pointer transition sf-list-item--text flex items-cross-center sf-list-item--size-1"
 >
 <div class="sf-list-item-wrap flex flex-1">
 <div class="sf-list-item-container">Action 4</div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <button
 type="button"
 class="sf-button sf-button--primary sf-button--default sf-button--size-1" disabled
 >
 <span class="sf-button-text-container">Apply</span>
 </button>
 <label class="sf-checkbox sf-checkbox--size-1 flex">
 <span class="sf-checkbox-box transition flex">
 <input name="checkbox" type="checkbox" />
 <span class="sf-icon" aria-hidden="true"></span>
 </span>
 <span class="sf-checkbox-container flex flex-col">
 <span class="sf-checkbox-top flex">
 <span class="sf-checkbox-label">For all</span>
 </span>
 </span>
 </label>
 </div>
 </div>
</div>
</div>
<section class="grid grid-col-1 md:grid-col-2 max-w-sm">
 <section class="grid grid-col-1 gap-1">
 <div>Square</div>
 <button type="button" class="sf-page-number sf-page-number--square transition">
 1
 </button>
 <button
 type="button"
 class="sf-page-number sf-page-number--square selected transition"
 >
 1
 </button>
 </section>
 <section class="grid grid-col-1 gap-1">
 <div>Circle</div>
 <button type="button" class="sf-page-number sf-page-number--circle transition">
 1
 </button>

 <button
 type="button"
 class="sf-page-number sf-page-number--circle selected transition"
 >
 1
 </button>
 </section>
</section>
</div>
