<div class="flex flex-col gap-2">
  <label class="sf-radio-button sf-radio-button--size-1 flex"><span class="sf-radio-button-box transition flex items-cross-center content-main-center"><input name="size" type="radio" checked><span class="sf-radio-button-mark"></span></span><span class="sf-radio-button-container"><span class="sf-radio-button-text">Размер 1</span></span></label>
  <label class="sf-radio-button sf-radio-button--size-1/3 flex"><span class="sf-radio-button-box transition flex items-cross-center content-main-center"><input name="size" type="radio"><span class="sf-radio-button-mark"></span></span><span class="sf-radio-button-container"><span class="sf-radio-button-text">Размер 1/3</span></span></label>
</div>
