<button type="button" class="sf-download-file sf-download-file--size-1 disabled" disabled>
  <span class="sf-download-file__body sf-download-file-wrap flex items-cross-center">
    <span class="sf-download-file__main sf-download-file-container flex flex-1 items-cross-center">
      <i class="sf-download-file__icon sf-icon" aria-hidden="true">download</i>
      <span class="sf-download-file__name sf-download-file-file-name">Файл временно недоступен</span>
    </span>
    <span class="sf-download-file__size sf-download-file-file-size">106 B</span>
  </span>
</button>
