<div class="sf-tabs flex flex-col">
  <div class="sf-tabs-top-container">
    <nav class="sf-tabs-top flex" aria-label="Материалы проекта">
      <button type="button" aria-label="Обзор" class="sf-icon-button sf-icon-button--default sf-icon-button--primary sf-icon-button--icon sf-icon-button--size-1 selected"><i class="sf-icon" aria-hidden="true">home</i></button>
      <button type="button" aria-label="История" class="sf-icon-button sf-icon-button--default sf-icon-button--primary sf-icon-button--icon sf-icon-button--size-1"><i class="sf-icon" aria-hidden="true">history</i></button>
    </nav>
  </div>
  <div class="sf-tabs-main-container">
    <section class="sf-tabs-main-tab selected">Обзор материалов.</section>
    <section class="sf-tabs-main-tab">История материалов.</section>
  </div>
</div>
