<div class="sf-steps sf-steps--size-1/2 flex flex-col">
  <div class="sf-steps-container flex items-center" role="list" aria-label="Публикация материала">
    <div class="sf-step sf-step--size-1/2 sf-step--stage-completed flex items-center justify-center" role="listitem"><i class="sf-icon" aria-hidden="true">check_circle</i><span class="sf-step-container">Черновик<span class="sr-only">, завершено</span></span></div>
    <i class="sf-icon" aria-hidden="true">chevron_right</i>
    <div class="sf-step sf-step--size-1/2 sf-step--stage-default selected flex items-center justify-center" role="listitem" aria-current="step"><span class="sf-step-container">Проверка</span></div>
    <i class="sf-icon" aria-hidden="true">chevron_right</i>
    <div class="sf-step sf-step--size-1/2 sf-step--stage-default flex items-center justify-center" role="listitem"><span class="sf-step-container">Публикация<span class="sr-only">, не начато</span></span></div>
  </div>
</div>
