<nav aria-label="Разделы проекта">
  <ul class="sf-menu max-w-sm">
    <li class="sf-menu-item" expanded>
      Проект
      <ul class="sf-menu">
        <li class="sf-menu-item" expanded>
          Документы
          <ul class="sf-menu">
            <li class="sf-menu-item" expanded>
              Руководства
              <ul class="sf-menu">
                <li class="sf-menu-item">
                  <a class="sf-menu-element" href="#start">Начало работы</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
