/build_*
node_modules
/vendor/
/source/assets/build/
/composer.json
/bootstrap.php
.cache
.idea
.vscode
.DS_Store
Thumbs.db
/yarn.lock
tailwind.config.js
/webpack.mix.js
.env
.env.local
.env.*.local
temp
trash
/.config
/translate.config.php
npm-debug.log
/package-lock.json
/source/404.blade.php
/source/favicon.ico
/source/_core/*
!/source/_core/_components/header/logo.blade.php
