<div class="grid grid-col-1 md:grid-col-2 gap-3 content-main-start">
 <div class="flex flex-col gap-2">
 <h3 class="text-2">Bordered</h3>

 <label class="sf-textarea sf-textarea--size-1/3 sf-textarea--bordered flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Size 1/3</span>
 <span class="sf-textarea-required">*</span>
 </span>
 <textarea class="transition" name="textarea_bordered_1_3" rows="3" placeholder="placeholder"></textarea>
 <span class="sf-textarea-hint-text-wrap">Hint text</span>
 </label>

 <label class="sf-textarea sf-textarea--size-1/2 sf-textarea--bordered flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Size 1/2</span>
 <span class="sf-textarea-required">*</span>
 </span>
 <textarea class="transition" name="textarea_bordered_1_2" rows="3" placeholder="placeholder"></textarea>
 <span class="sf-textarea-hint-text-wrap">Hint text</span>
 </label>

 <label class="sf-textarea sf-textarea--size-1 sf-textarea--bordered flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Size 1</span>
 <span class="sf-textarea-required">*</span>
 </span>
 <textarea class="transition" name="textarea_bordered_1" rows="3" placeholder="placeholder"></textarea>
 <span class="sf-textarea-hint-text-wrap">Hint text</span>
 </label>

 <label class="sf-textarea sf-textarea--size-2 sf-textarea--bordered flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Size 2</span>
 <span class="sf-textarea-required">*</span>
 </span>
 <textarea class="transition" name="textarea_bordered_2" rows="3" placeholder="placeholder"></textarea>
 <span class="sf-textarea-hint-text-wrap">Hint text</span>
 </label>

 <label class="sf-textarea sf-textarea--size-3 sf-textarea--bordered flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Size 3</span>
 <span class="sf-textarea-required">*</span>
 </span>
 <textarea class="transition" name="textarea_bordered_3" rows="3" placeholder="placeholder"></textarea>
 <span class="sf-textarea-hint-text-wrap">Hint text</span>
 </label>
 </div>

 <div class="flex flex-col gap-2">
 <h3 class="text-2">Filled</h3>

 <label class="sf-textarea sf-textarea--size-1/3 sf-textarea--filled flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Size 1/3</span>
 <span class="sf-textarea-required">*</span>
 </span>
 <textarea class="transition" name="textarea_filled_1_3" rows="3" placeholder="placeholder"></textarea>
 <span class="sf-textarea-hint-text-wrap">Hint text</span>
 </label>

 <label class="sf-textarea sf-textarea--size-1/2 sf-textarea--filled flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Size 1/2</span>
 <span class="sf-textarea-required">*</span>
 </span>
 <textarea class="transition" name="textarea_filled_1_2" rows="3" placeholder="placeholder"></textarea>
 <span class="sf-textarea-hint-text-wrap">Hint text</span>
 </label>

 <label class="sf-textarea sf-textarea--size-1 sf-textarea--filled flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Size 1</span>
 <span class="sf-textarea-required">*</span>
 </span>
 <textarea class="transition" name="textarea_filled_1" rows="3" placeholder="placeholder"></textarea>
 <span class="sf-textarea-hint-text-wrap">Hint text</span>
 </label>

 <label class="sf-textarea sf-textarea--size-2 sf-textarea--filled flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Size 2</span>
 <span class="sf-textarea-required">*</span>
 </span>
 <textarea class="transition" name="textarea_filled_2" rows="3" placeholder="placeholder"></textarea>
 <span class="sf-textarea-hint-text-wrap">Hint text</span>
 </label>

 <label class="sf-textarea sf-textarea--size-3 sf-textarea--filled flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Size 3</span>
 <span class="sf-textarea-required">*</span>
 </span>
 <textarea class="transition" name="textarea_filled_3" rows="3" placeholder="placeholder"></textarea>
 <span class="sf-textarea-hint-text-wrap">Hint text</span>
 </label>
 </div>
</div>

<div class="grid grid-col-1 md:grid-col-2 gap-3 content-main-start m-top-3">
 <label class="sf-textarea error sf-textarea--size-1 sf-textarea--bordered flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Bordered error</span>
 <span class="sf-textarea-required">*</span>
 </span>
 <textarea class="transition error" name="textarea_bordered_error" rows="3" placeholder="bordered textarea.error"></textarea>
 <span class="sf-textarea-hint-text-wrap">Bordered error hint text</span>
 </label>

 <label class="sf-textarea sf-textarea--size-1 sf-textarea--bordered flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Bordered disabled</span>
 </span>
 <textarea class="transition" disabled name="textarea_bordered_disabled" rows="3" placeholder="bordered textarea:disabled"></textarea>
 <span class="sf-textarea-hint-text-wrap">Bordered disabled hint text</span>
 </label>

 <label class="sf-textarea error sf-textarea--size-1 sf-textarea--filled flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Filled error</span>
 <span class="sf-textarea-required">*</span>
 </span>
 <textarea class="transition error" name="textarea_filled_error" rows="3" placeholder="filled textarea.error"></textarea>
 <span class="sf-textarea-hint-text-wrap">Filled error hint text</span>
 </label>

 <label class="sf-textarea sf-textarea--size-1 sf-textarea--filled flex flex-col">
 <span class="sf-textarea-label flex">
 <span class="sf-textarea-text">Filled disabled</span>
 </span>
 <textarea class="transition" disabled name="textarea_filled_disabled" rows="3" placeholder="filled textarea:disabled"></textarea>
 <span class="sf-textarea-hint-text-wrap">Filled disabled hint text</span>
 </label>
</div>
