<div class="w-full max-w-full overflow-auto">
  <div class="sf-theme-builder sf-theme-builder--drawer sf-theme-builder--drawer-init is-open relative h-auto surface-container p-3">
    <div class="sf-theme-builder__section-body flex flex-col gap-2">
      <strong>Палитра проекта</strong>
      <div class="flex gap-2"><span class="sf-theme-builder__swatch bg-primary radius-circle"></span><span class="sf-theme-builder__swatch bg-secondary radius-circle"></span><span class="sf-theme-builder__swatch bg-tertiary radius-circle"></span></div>
    </div>
  </div>
</div>
