<div class="sf-tabs sf-tabs--full flex flex-col">
  <div class="sf-tabs-top-container flex">
    <nav class="sf-tabs-top flex flex-1" aria-label="Состояние задач">
      <button type="button" class="sf-button selected sf-button--default sf-button--primary sf-button--size-1"><span class="sf-button-text-container">Новые</span></button>
      <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1"><span class="sf-button-text-container">В работе</span></button>
      <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1"><span class="sf-button-text-container">Готово</span></button>
    </nav>
  </div>
  <div class="sf-tabs-main-container"><section class="sf-tabs-main-tab selected">Новые задачи.</section><section class="sf-tabs-main-tab">Задачи в работе.</section><section class="sf-tabs-main-tab">Завершённые задачи.</section></div>
</div>
