<div sf-asset="modal" class="hidden"></div>

<div class="flex flex-wrap gap-2">
  <button type="button" class="sf-button sf-button--outline sf-button--on-surface sf-button--size-1" data-modal-position="center"><span class="sf-button-text-container">По центру</span></button>
  <button type="button" class="sf-button sf-button--outline sf-button--on-surface sf-button--size-1" data-modal-position="inline-start"><span class="sf-button-text-container">В начале строки</span></button>
  <button type="button" class="sf-button sf-button--outline sf-button--on-surface sf-button--size-1" data-modal-position="inline-end"><span class="sf-button-text-container">В конце строки</span></button>
  <button type="button" class="sf-button sf-button--outline sf-button--on-surface sf-button--size-1" data-modal-position="top"><span class="sf-button-text-container">Сверху</span></button>
  <button type="button" class="sf-button sf-button--outline sf-button--on-surface sf-button--size-1" data-modal-position="bottom"><span class="sf-button-text-container">Снизу</span></button>
</div>
