<nav aria-label="Разделы сайта">
  <ul class="sf-menu sf-menu--horizontal">
    <li class="sf-menu-item">
      <a class="sf-menu-element" href="#about">О компании</a>
    </li>
    <li class="sf-menu-item">
      Каталог
      <ul class="sf-menu">
        <li class="sf-menu-item">
          <a class="sf-menu-element" href="#solutions">Решения</a>
        </li>
        <li class="sf-menu-item">
          Продукты
          <ul class="sf-menu">
            <li class="sf-menu-item">
              <a class="sf-menu-element" href="#framework">SIMAI Framework</a>
            </li>
            <li class="sf-menu-item">
              <a class="sf-menu-element" href="#docara">Docara</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="sf-menu-item">
      <a class="sf-menu-element" href="#contacts">Контакты</a>
    </li>
  </ul>
</nav>
