<div class="sf-progress-scale sf-progress-scale--size-1 sf-progress-scale--60 flex flex-col" role="progressbar" aria-label="Подготовка проекта" aria-valuemin="0" aria-valuemax="100" aria-valuenow="60">
  <div class="sf-progress-scale-container grid grid-col-10 overflow-hidden" aria-hidden="true">
    <div class="sf-progress-scale-block"></div>
    <div class="sf-progress-scale-block"></div>
    <div class="sf-progress-scale-block"></div>
    <div class="sf-progress-scale-block"></div>
    <div class="sf-progress-scale-block"></div>
    <div class="sf-progress-scale-block"></div>
    <div class="sf-progress-scale-block"></div>
    <div class="sf-progress-scale-block"></div>
    <div class="sf-progress-scale-block"></div>
    <div class="sf-progress-scale-block"></div>
  </div>
  <div>60%</div>
</div>
