<div class="flex flex-wrap gap-2 items-cross-center">
  <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1">
    <span class="sf-button-text-container">Обычная</span>
  </button>
  <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1 tightness-low">
    <span class="sf-button-text-container">Low</span>
  </button>
  <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1 tightness-high">
    <span class="sf-button-text-container">High</span>
  </button>
  <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1 tightness-highest">
    <span class="sf-button-text-container">Highest</span>
  </button>
</div>
