<div class="grid grid-col-1 md:grid-col-2 gap-3 content-main-start">
 <div class="flex flex-col gap-2">
 <h3 class="text-2">Size 1</h3>

 <label class="sf-checkbox sf-checkbox--size-1 flex">
 <span class="sf-checkbox-box transition flex">
 <input name="checkbox" type="checkbox" />
 <span class="sf-icon" aria-hidden="true"></span>
 </span>
 <span class="sf-checkbox-container flex flex-col">
 <span class="sf-checkbox-top flex">
 <span class="sf-checkbox-label">Default</span>
 <i class="sf-icon" aria-hidden="true">help</i>
 </span>
 <span class="sf-checkbox-description">Description</span>
 </span>
 </label>

 <label class="sf-checkbox sf-checkbox--size-1 flex">
 <span class="sf-checkbox-box transition flex">
 <input checked name="check_2" type="checkbox" />
 <span class="sf-icon" aria-hidden="true"></span>
 </span>
 <span class="sf-checkbox-container flex flex-col">
 <span class="sf-checkbox-top flex">
 <span class="sf-checkbox-label">Checked</span>
 <i class="sf-icon" aria-hidden="true">help</i>
 </span>
 <span class="sf-checkbox-description">Description</span>
 </span>
 </label>

 <label class="sf-checkbox error sf-checkbox--size-1 flex">
 <span class="sf-checkbox-box transition flex">
 <input type="checkbox" />
 <span class="sf-icon" aria-hidden="true"></span>
 </span>
 <span class="sf-checkbox-container flex flex-col">
 <span class="sf-checkbox-top flex">
 <span class="sf-checkbox-label">Error</span>
 <i class="sf-icon" aria-hidden="true">help</i>
 </span>
 <span class="sf-checkbox-description">Description</span>
 </span>
 </label>

 <label class="sf-checkbox sf-checkbox--size-1 flex">
 <span class="sf-checkbox-box transition flex">
 <input disabled type="checkbox" />
 <span class="sf-icon" aria-hidden="true"></span>
 </span>
 <span class="sf-checkbox-container flex flex-col">
 <span class="sf-checkbox-top flex">
 <span class="sf-checkbox-label">Disabled</span>
 <i class="sf-icon" aria-hidden="true">help</i>
 </span>
 <span class="sf-checkbox-description">Description</span>
 </span>
 </label>

 <label class="sf-checkbox sf-checkbox--size-1 flex">
 <span class="sf-checkbox-box transition flex">
 <input data-indeterminate type="checkbox" />
 <span class="sf-icon" aria-hidden="true"></span>
 </span>
 <span class="sf-checkbox-container flex flex-col">
 <span class="sf-checkbox-top flex">
 <span class="sf-checkbox-label">Indeterminate</span>
 <i class="sf-icon" aria-hidden="true">help</i>
 </span>
 <span class="sf-checkbox-description">Description</span>
 </span>
 </label>
 </div>

 <div class="flex flex-col gap-2">
 <h3 class="text-2">Size 1/3</h3>

 <label class="sf-checkbox sf-checkbox--size-1/3 flex">
 <span class="sf-checkbox-box transition flex">
 <input type="checkbox" />
 <span class="sf-icon" aria-hidden="true"></span>
 </span>
 <span class="sf-checkbox-container flex flex-col">
 <span class="sf-checkbox-top flex">
 <span class="sf-checkbox-label">Default</span>
 <i class="sf-icon" aria-hidden="true">help</i>
 </span>
 <span class="sf-checkbox-description">Description</span>
 </span>
 </label>

 <label class="sf-checkbox sf-checkbox--size-1/3 flex">
 <span class="sf-checkbox-box transition flex">
 <input checked type="checkbox" />
 <span class="sf-icon" aria-hidden="true"></span>
 </span>
 <span class="sf-checkbox-container flex flex-col">
 <span class="sf-checkbox-top flex">
 <span class="sf-checkbox-label">Checked</span>
 <i class="sf-icon" aria-hidden="true">help</i>
 </span>
 <span class="sf-checkbox-description">Description</span>
 </span>
 </label>

 <label class="sf-checkbox error sf-checkbox--size-1/3 flex">
 <span class="sf-checkbox-box transition flex">
 <input type="checkbox" />
 <span class="sf-icon" aria-hidden="true"></span>
 </span>
 <span class="sf-checkbox-container flex flex-col">
 <span class="sf-checkbox-top flex">
 <span class="sf-checkbox-label">Error</span>
 <i class="sf-icon" aria-hidden="true">help</i>
 </span>
 <span class="sf-checkbox-description">Description</span>
 </span>
 </label>

 <label class="sf-checkbox sf-checkbox--size-1/3 flex">
 <span class="sf-checkbox-box transition flex">
 <input disabled type="checkbox" />
 <span class="sf-icon" aria-hidden="true"></span>
 </span>
 <span class="sf-checkbox-container flex flex-col">
 <span class="sf-checkbox-top flex">
 <span class="sf-checkbox-label">Disabled</span>
 <i class="sf-icon" aria-hidden="true">help</i>
 </span>
 <span class="sf-checkbox-description">Description</span>
 </span>
 </label>

 <label class="sf-checkbox sf-checkbox--size-1/3 flex">
 <span class="sf-checkbox-box transition flex">
 <input data-indeterminate type="checkbox" />
 <span class="sf-icon" aria-hidden="true"></span>
 </span>
 <span class="sf-checkbox-container flex flex-col">
 <span class="sf-checkbox-top flex">
 <span class="sf-checkbox-label">Indeterminate</span>
 <i class="sf-icon" aria-hidden="true">help</i>
 </span>
 <span class="sf-checkbox-description">Description</span>
 </span>
 </label>
 </div>
</div>
