<nav class="sf-pagination" aria-label="Страницы статей">
  <div class="sf-pagination-container flex items-cross-center">
    <ol class="sf-pagination-list flex items-cross-center list-none m-0 p-0">
      <li class="sf-pagination-item"><a class="sf-page-number sf-page-number--square flex items-cross-center content-main-center" href="?page=1" aria-label="Предыдущая страница">‹</a></li>
      <li class="sf-pagination-item"><a class="sf-page-number sf-page-number--square flex items-cross-center content-main-center" href="?page=1" aria-label="Страница 1">1</a></li>
      <li class="sf-pagination-item"><a class="sf-page-number sf-page-number--square selected flex items-cross-center content-main-center" href="?page=2" aria-current="page" aria-label="Страница 2">2</a></li>
      <li class="sf-pagination-item"><a class="sf-page-number sf-page-number--square flex items-cross-center content-main-center" href="?page=3" aria-label="Страница 3">3</a></li>
      <li class="sf-pagination-item"><a class="sf-page-number sf-page-number--square flex items-cross-center content-main-center" href="?page=3" aria-label="Следующая страница">›</a></li>
    </ol>
  </div>
</nav>
