<div class="grid gap-3">
  <div class="sf-divider sf-divider-horizontal"><span class="sf-divider-content">или</span></div>
  <div class="sf-divider sf-divider-horizontal"><span class="sf-divider-content sf-divider-content--bold">Новый раздел</span></div>
  <div class="sf-divider sf-divider-horizontal"><span class="sf-divider-content sf-divider-content--small">Дополнительно</span></div>
  <div class="sf-divider sf-divider-horizontal"><span class="sf-divider-content sf-divider-content-border">Фильтры</span></div>
</div>
