<div class="flex flex-col gap-3">
 <section class="flex flex-col gap-2 max-w-lg">
 <h3 class="text-3">Slider</h3>
 <div class="text-1/2 color-on-surface-variant">
 Real examples based on Swiper with SIMAI arrows, dots and thumbnails.
 </div>
 </section>

 <section class="grid grid-col-1 md:grid-col-2 gap-3 content-main-start items-cross-start">
 <section class="flex flex-col gap-2">
 <h4 class="text-2">Primary default</h4>
 <div
 class="sf-slider"
 data-loop="true"
 data-space-between="12"
 data-speed="450"
 >
 <div class="sf-slider-main swiper radius-3">
 <div class="swiper-wrapper">
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-primary color-on-primary p-2">
 Slide 1
 </div>
 </div>
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-secondary color-on-secondary p-2">
 Slide 2
 </div>
 </div>
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-tertiary color-on-tertiary p-2">
 Slide 3
 </div>
 </div>
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-success color-on-success p-2">
 Slide 4
 </div>
 </div>
 </div>
 </div>

 <div class="sf-slider-controls">
 <div class="sf-slider-arrows">
 <button
 type="button"
 class="sf-icon-button sf-icon-button--default sf-icon-button--primary sf-icon-button--icon sf-icon-button--size-1 sf-slider-button-prev"
 aria-label="Previous slide"
 >
 <i class="sf-icon">keyboard_arrow_left</i>
 </button>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--default sf-icon-button--primary sf-icon-button--icon sf-icon-button--size-1 sf-slider-button-next"
 aria-label="Next slide"
 >
 <i class="sf-icon">keyboard_arrow_right</i>
 </button>
 </div>
 <div
 class="sf-slider-dots sf-slider-dots--clear sf-slider-dots--framed sf-slider-dots--light sf-slider-dots--size-2 flex sf-slider-pagination"
 ></div>
 </div>
 </div>
 </section>

 <section class="flex flex-col gap-2">
 <h4 class="text-2">Secondary light</h4>
 <div class="sf-slider" data-space-between="12" data-speed="450">
 <div class="sf-slider-main swiper radius-3">
 <div class="swiper-wrapper">
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-primary-container color-on-primary-container p-2">
 Main 1
 </div>
 </div>
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-secondary-container color-on-secondary-container p-2">
 Main 2
 </div>
 </div>
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-tertiary-container color-on-tertiary-container p-2">
 Main 3
 </div>
 </div>
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-warning color-on-warning p-2">
 Main 4
 </div>
 </div>
 </div>
 </div>

 <div class="sf-slider-controls">
 <div class="sf-slider-arrows">
 <button
 type="button"
 class="sf-icon-button sf-icon-button--tonal sf-icon-button--secondary sf-icon-button--icon sf-icon-button--size-1/2 sf-slider-button-prev"
 aria-label="Previous slide"
 >
 <i class="sf-icon">keyboard_arrow_left</i>
 </button>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--tonal sf-icon-button--secondary sf-icon-button--icon sf-icon-button--size-1/2 sf-slider-button-next"
 aria-label="Next slide"
 >
 <i class="sf-icon">keyboard_arrow_right</i>
 </button>
 </div>
 <div
 class="sf-slider-dots sf-slider-dots--primary sf-slider-dots--framed sf-slider-dots--dark sf-slider-dots--size-1 flex sf-slider-pagination"
 ></div>
 </div>
 </div>
 </section>

 <section class="flex flex-col gap-2">
 <h4 class="text-2">Dark</h4>
 <div class="sf-slider" data-loop="true" data-space-between="12" data-speed="450">
 <div class="sf-slider-main swiper radius-3">
 <div class="swiper-wrapper">
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-surface-inverse color-on-surface-inverse p-2">
 Slide 1
 </div>
 </div>
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-surface-container color-on-surface p-2">
 Slide 2
 </div>
 </div>
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-surface-container color-on-surface p-2">
 Slide 3
 </div>
 </div>
 </div>
 </div>

 <div class="sf-slider-controls">
 <div class="sf-slider-arrows">
 <button
 type="button"
 class="sf-icon-button sf-icon-button--default sf-icon-button--on-surface sf-icon-button--icon sf-icon-button--size-1 sf-slider-button-prev"
 aria-label="Previous slide"
 >
 <i class="sf-icon">keyboard_arrow_left</i>
 </button>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--default sf-icon-button--on-surface sf-icon-button--icon sf-icon-button--size-1 sf-slider-button-next"
 aria-label="Next slide"
 >
 <i class="sf-icon">keyboard_arrow_right</i>
 </button>
 </div>
 <div
 class="sf-slider-dots sf-slider-dots--clear sf-slider-dots--framed sf-slider-dots--dark sf-slider-dots--size-2 flex sf-slider-pagination"
 ></div>
 </div>
 </div>
 </section>

 <section class="flex flex-col gap-2">
 <h4 class="text-2">Light</h4>
 <div class="sf-slider" data-loop="true" data-space-between="12" data-speed="450">
 <div class="sf-slider-main swiper radius-3">
 <div class="swiper-wrapper">
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-surface-container color-on-surface p-2">
 Slide 1
 </div>
 </div>
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-surface-container color-on-surface p-2">
 Slide 2
 </div>
 </div>
 <div class="swiper-slide">
 <div class="sf-slider-slide radius-3 bg-surface-container color-on-surface p-2">
 Slide 3
 </div>
 </div>
 </div>
 </div>

 <div class="sf-slider-controls">
 <div class="sf-slider-arrows">
 <button
 type="button"
 class="sf-icon-button sf-icon-button--link sf-icon-button--on-surface sf-icon-button--icon sf-icon-button--size-1 sf-slider-button-prev"
 aria-label="Previous slide"
 >
 <i class="sf-icon">keyboard_arrow_left</i>
 </button>
 <button
 type="button"
 class="sf-icon-button sf-icon-button--link sf-icon-button--on-surface sf-icon-button--icon sf-icon-button--size-1 sf-slider-button-next"
 aria-label="Next slide"
 >
 <i class="sf-icon">keyboard_arrow_right</i>
 </button>
 </div>
 <div
 class="sf-slider-dots sf-slider-dots--clear sf-slider-dots--framed sf-slider-dots--light sf-slider-dots--size-2 flex sf-slider-pagination"
 ></div>
 </div>
 </div>
 </section>
 </section>
</div>
