<div role="group" aria-label="Период отчёта" class="flex">
  <button type="button" class="sf-button sf-button--link sf-button--on-surface sf-button--size-1 segment-start" aria-pressed="false">
    <span class="sf-button-text-container">День</span>
  </button>
  <button type="button" class="sf-button sf-button--outline sf-button--primary sf-button--size-1 segment-middle active" aria-pressed="true">
    <span class="sf-button-text-container">Неделя</span>
  </button>
  <button type="button" class="sf-button sf-button--link sf-button--on-surface sf-button--size-1 segment-end" aria-pressed="false">
    <span class="sf-button-text-container">Месяц</span>
  </button>
</div>
