<label class="sf-switch sf-switch--size-1 flex">
  <span class="sf-switch-toggler flex items-cross-center"><input type="checkbox" role="switch" name="notifications" checked><span class="sf-switch-inner" aria-hidden="true"></span></span>
  <span class="sf-switch-container-wrap flex flex-col"><span class="sf-switch-top flex"><span class="sf-switch-container flex items-cross-center"><span class="sf-switch-text">Уведомления</span></span></span><span class="sf-switch-description">Сообщать о важных изменениях</span></span>
</label>
