<div class="flex flex-wrap gap-2 items-cross-center">
  <button type="button" class="sf-icon-button sf-icon-button--icon sf-icon-button--tonal sf-icon-button--on-surface sf-icon-button--size-2" aria-label="Системное скругление">
    <i class="sf-icon" aria-hidden="true">crop_square</i>
  </button>
  <button type="button" class="sf-icon-button sf-icon-button--icon sf-icon-button--tonal sf-icon-button--on-surface sf-icon-button--size-2 radius-square" aria-label="Без скругления">
    <i class="sf-icon" aria-hidden="true">crop_square</i>
  </button>
  <button type="button" class="sf-icon-button sf-icon-button--icon sf-icon-button--tonal sf-icon-button--on-surface sf-icon-button--size-2 radius-rounded" aria-label="Полное скругление">
    <i class="sf-icon" aria-hidden="true">circle</i>
  </button>
</div>
