<div class="sf-file-preview disabled" aria-disabled="true">
  <span class="sf-file-preview-holder">
    <i class="sf-icon" aria-hidden="true">image</i>
  </span>
  <span class="sf-file-preview-main">
    <span class="sf-file-preview-name">Обложка проекта.jpg</span>
    <span class="sf-file-preview-size">860 КБ</span>
  </span>
  <span class="sf-file-preview-actions">
    <button type="button" class="sf-icon-button neutral" aria-label="Скачать файл" disabled>
      <i class="sf-icon" aria-hidden="true">download</i>
    </button>
  </span>
</div>
