<div class="sf-file-preview disabled flex flex-row flex-nowrap items-center max-w-md">
  <span class="sf-file-preview-holder">
    <i class="sf-icon" aria-hidden="true">image</i>
  </span>
  <span class="sf-file-preview-main flex flex-col flex-nowrap flex-1">
    <span class="sf-file-preview-name">Обложка проекта.jpg</span>
    <span class="sf-file-preview-size">860 КБ</span>
  </span>
  <span class="sf-file-preview-actions flex flex-row flex-nowrap items-center">
    <button type="button" class="sf-icon-button neutral" aria-label="Скачать файл" disabled>
      <i class="sf-icon" aria-hidden="true">download</i>
    </button>
  </span>
</div>
