<label class="sf-verification-form sf-verification-form--size-1" data-length="6" data-mode="numeric">
  <span class="sf-verification-form-label">Код из сообщения</span>
  <span class="sf-verification sf-verification--size-1 sf-verification--bordered">
    <input class="sf-verification-input" name="code" type="text" inputmode="numeric" autocomplete="one-time-code" aria-describedby="verification-hint">
  </span>
  <span class="sf-verification-form-hint" id="verification-hint">Введите шесть цифр</span>
</label>
