<div class='grid grid-col-1 md:grid-col-2 gap-3 content-main-start'>
 <div class='flex flex-col gap-2'>
 <h3 class='text-2'>Bordered</h3>
 <h4 class='text-1'>Default</h4>
 <div class='sf-verification-form sf-verification-form--size-1/3 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-1/2 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-1 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-2 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-2 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-3 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-3 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--bordered flex'><input type='text' inputmode='numeric' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <h4 class='text-1'>Disabled</h4>
 <div class='sf-verification-form sf-verification-form--size-1/3 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-1/2 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-1 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-2 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-2 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-3 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-3 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--bordered flex'><input type='text' inputmode='numeric' disabled /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <h4 class='text-1'>Error</h4>
 <div class='sf-verification-form sf-verification-form--size-1/3 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-1/2 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-1 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-2 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-2 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-3 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-3 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--bordered error flex'><input type='text' inputmode='numeric' value='0' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 </div>
 <div class='flex flex-col gap-2'>
 <h3 class='text-2'>Filled</h3>
 <h4 class='text-1'>Default</h4>
 <div class='sf-verification-form sf-verification-form--size-1/3 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-1/2 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-1 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-2 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-2 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-3 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-3 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--filled flex'><input type='text' inputmode='numeric' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <h4 class='text-1'>Disabled</h4>
 <div class='sf-verification-form sf-verification-form--size-1/3 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-1/2 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-1 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-2 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-2 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-3 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-3 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--filled flex'><input type='text' inputmode='numeric' disabled /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <h4 class='text-1'>Error</h4>
 <div class='sf-verification-form sf-verification-form--size-1/3 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1/3 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-1/2 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1/2 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-1 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-1 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-1 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-2 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-2 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-2 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 <div class='sf-verification-form sf-verification-form--size-3 flex flex-col'>
 <div class='sf-verification-form-wrap flex'>
 <div class='sf-verification sf-verification--size-3 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 <div class='sf-verification sf-verification--size-3 sf-verification--filled error flex'><input type='text' inputmode='numeric' value='0' /></div>
 </div>
 <div class='sf-verification-form-hint'>This is a hint text to help user.</div>
 </div>
 </div>
</div>
