<div class="sf-scrollbar w-full" data-sf-scrollbar="persistent" data-sf-scrollbar-axis="horizontal">
  <div class="sf-scrollbar__viewport overflow-x-auto" aria-label="Горизонтальный список">
    <div class="flex flex-nowrap gap-2 w-c0 p-bottom-2">
      <article class="surface-container p-2 radius-default w-a6 flex-none">Январь</article><article class="surface-container p-2 radius-default w-a6 flex-none">Февраль</article><article class="surface-container p-2 radius-default w-a6 flex-none">Март</article><article class="surface-container p-2 radius-default w-a6 flex-none">Апрель</article>
    </div>
  </div>
</div>
