<div class="sf-tabs sf-tabs--pills flex flex-col">
  <div class="sf-tabs-top-container flex">
    <nav class="sf-tabs-top flex" aria-label="Период отчёта">
      <button type="button" class="sf-button selected sf-button--default sf-button--primary sf-button--size-1"><span class="sf-button-text-container">Неделя</span></button>
      <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1"><span class="sf-button-text-container">Месяц</span></button>
    </nav>
  </div>
  <div class="sf-tabs-main-container"><section class="sf-tabs-main-tab selected">Данные за неделю.</section><section class="sf-tabs-main-tab">Данные за месяц.</section></div>
</div>
