<section class="grid grid-col-1 gap-2 max-w-sm content-main-start">
 <a
 href="assets/example.txt"
 download="logo.svg"
 class="sf-download-file sf-download-file--size-1/3 transition"
 >
 <div class="sf-download-file-wrap flex items-cross-center">
 <div class="sf-download-file-container flex flex-1 items-cross-center">
 <i class="sf-icon">download</i>
 <div>File.pdf</div>
 </div>
 <div class="sf-download-file-file-size"></div>
 </div>
 </a>
 <a
 href="assets/example.txt"
 download="logo.svg"
 class="sf-download-file sf-download-file--size-1/2 transition"
 >
 <div class="sf-download-file-wrap flex items-cross-center">
 <div class="sf-download-file-container flex flex-1 items-cross-center">
 <i class="sf-icon">download</i>
 <div>File.pdf</div>
 </div>
 <div class="sf-download-file-file-size"></div>
 </div>
 </a>
 <a
 href="assets/example.txt"
 download="logo.svg"
 class="sf-download-file sf-download-file--size-1 transition"
 >
 <div class="sf-download-file-wrap flex items-cross-center">
 <div class="sf-download-file-container flex flex-1 items-cross-center">
 <i class="sf-icon">download</i>
 <div>File.pdf</div>
 </div>
 <div class="sf-download-file-file-size"></div>
 </div>
 </a>
 <a
 href="assets/example.txt"
 download="logo.svg"
 class="sf-download-file sf-download-file--size-2 transition"
 >
 <div class="sf-download-file-wrap flex items-cross-center">
 <div class="sf-download-file-container flex flex-1 items-cross-center">
 <i class="sf-icon">download</i>
 <div>File.pdf</div>
 </div>
 <div class="sf-download-file-file-size"></div>
 </div>
 </a>
 <a
 href="assets/example.txt"
 download="logo.svg"
 class="sf-download-file sf-download-file--size-3 transition"
 >
 <div class="sf-download-file-wrap flex items-cross-center">
 <div class="sf-download-file-container flex flex-1 items-cross-center">
 <i class="sf-icon">download</i>
 <div>File.pdf</div>
 </div>
 <div class="sf-download-file-file-size"></div>
 </div>
 </a>
</section>
