<div class="flex flex-wrap gap-2 items-cross-center">
  <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1">
    <span class="sf-button-text-container">Основная</span>
  </button>
  <button type="button" class="sf-button sf-button--default sf-button--on-surface sf-button--size-1">
    <span class="sf-button-text-container">Контрастная</span>
  </button>
  <button type="button" class="sf-button sf-button--tonal sf-button--secondary sf-button--size-1">
    <span class="sf-button-text-container">Мягкая</span>
  </button>
  <button type="button" class="sf-button sf-button--tonal sf-button--on-surface sf-button--size-1">
    <span class="sf-button-text-container">Мягкая нейтральная</span>
  </button>
  <button type="button" class="sf-button sf-button--outline sf-button--primary sf-button--size-1">
    <span class="sf-button-text-container">Контурная</span>
  </button>
  <button type="button" class="sf-button sf-button--outline sf-button--on-surface sf-button--size-1">
    <span class="sf-button-text-container">Контурная нейтральная</span>
  </button>
  <button type="button" class="sf-button sf-button--link sf-button--primary sf-button--size-1">
    <span class="sf-button-text-container">Текстовая</span>
  </button>
  <button type="button" class="sf-button sf-button--link sf-button--on-surface sf-button--size-1">
    <span class="sf-button-text-container">Текстовая нейтральная</span>
  </button>
</div>
