<div class="flex flex-wrap gap-2 items-cross-center">
  <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1">
    <span class="sf-button-text-container">Default Primary</span>
  </button>
  <button type="button" class="sf-button sf-button--default sf-button--on-surface sf-button--size-1">
    <span class="sf-button-text-container">Default On Surface</span>
  </button>
  <button type="button" class="sf-button sf-button--tonal sf-button--secondary sf-button--size-1">
    <span class="sf-button-text-container">Tonal Secondary</span>
  </button>
  <button type="button" class="sf-button sf-button--tonal sf-button--on-surface sf-button--size-1">
    <span class="sf-button-text-container">Tonal On Surface</span>
  </button>
  <button type="button" class="sf-button sf-button--outline sf-button--primary sf-button--size-1">
    <span class="sf-button-text-container">Outline Primary</span>
  </button>
  <button type="button" class="sf-button sf-button--outline sf-button--on-surface sf-button--size-1">
    <span class="sf-button-text-container">Outline On Surface</span>
  </button>
  <button type="button" class="sf-button sf-button--link sf-button--primary sf-button--size-1">
    <span class="sf-button-text-container">Link Primary</span>
  </button>
  <button type="button" class="sf-button sf-button--link sf-button--on-surface sf-button--size-1">
    <span class="sf-button-text-container">Link On Surface</span>
  </button>
</div>
