<div class="flex flex-col gap-2">
  <label class="sf-checkbox sf-checkbox--size-1 flex"><span class="sf-checkbox-box transition flex"><input name="start-position" type="checkbox" checked><span class="sf-icon" aria-hidden="true"></span></span><span class="sf-checkbox-container flex flex-col"><span class="sf-checkbox-label">Индикатор в логическом начале</span></span></label>
  <label class="sf-checkbox sf-checkbox--size-1 flex content-main-between"><span class="sf-checkbox-container flex flex-col"><span class="sf-checkbox-label">Индикатор в логическом конце</span></span><span class="sf-checkbox-box transition flex"><input name="end-position" type="checkbox"><span class="sf-icon" aria-hidden="true"></span></span></label>
</div>
