<section class="grid grid-col-1 max-w-sm gap-4">
 <div class="grid gap-2">
 <h3 class="text-2">Single</h3>
 <div class="sf-range-slider" data-start="30"></div>
 </div>

 <div class="grid gap-2">
 <h3 class="text-2">Text Label</h3>
 <div class="sf-range-slider" data-start="40" data-label="text" data-suffix="%"></div>
 </div>

 <div class="grid gap-2">
 <h3 class="text-2">Tooltip Label</h3>
 <div
 class="sf-range-slider"
 data-start="65"
 data-label="tooltip"
 data-suffix="%"
 ></div>
 </div>

 <div class="grid gap-2">
 <h3 class="text-2">Range</h3>
 <div
 class="sf-range-slider"
 data-start="20,80"
 data-label="tooltip"
 data-suffix="%"
 ></div>
 </div>
</section>
