<div class="grid grid-col-1 sm:grid-col-3 gap-3 items-cross-start p-inline-1">
  <div class="sf-context-menu sf-context-menu--position-top-left flex relative"><div class="sf-context-menu-tooltip" aria-hidden="true"></div><div class="sf-context-menu-content p-2">Сверху слева</div></div>
  <div class="sf-context-menu sf-context-menu--position-right flex relative"><div class="sf-context-menu-tooltip" aria-hidden="true"></div><div class="sf-context-menu-content p-2">Справа</div></div>
  <div class="sf-context-menu sf-context-menu--position-bottom-center flex relative"><div class="sf-context-menu-tooltip" aria-hidden="true"></div><div class="sf-context-menu-content p-2">Снизу по центру</div></div>
</div>
