<div class="sf-tabs sf-tabs--vertical flex flex-row gap-2">
  <div class="sf-tabs-top-container flex">
    <nav class="sf-tabs-top flex flex-col" aria-label="Настройки">
      <button type="button" class="sf-button selected sf-button--default sf-button--primary sf-button--size-1"><span class="sf-button-text-container">Профиль</span></button>
      <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1"><span class="sf-button-text-container">Безопасность</span></button>
    </nav>
  </div>
  <div class="sf-tabs-main-container"><section class="sf-tabs-main-tab selected">Настройки профиля.</section><section class="sf-tabs-main-tab">Настройки безопасности.</section></div>
</div>
