<div class="wrap grid grid-col-1 sm:grid-col-3 gap-3 items-start">
  <figure class="m-0 w-full flex flex-col gap-1 items-center text-center">
    <div class="w-full max-w-f4 aspect-1x1 radius-2 bg-primary-container color-on-primary-container flex items-center justify-center p-2 text-center">
      <span class="weight-6">1 : 1</span>
    </div>
    <figcaption>
      <span class="weight-6">Квадрат</span><br>
      <code>aspect-1x1</code>
    </figcaption>
  </figure>

  <figure class="m-0 w-full flex flex-col gap-1 items-center text-center">
    <div class="w-full max-w-f4 aspect-2x3 radius-2 bg-secondary-container color-on-secondary-container flex items-center justify-center p-2 text-center">
      <span class="weight-6">2 : 3</span>
    </div>
    <figcaption>
      <span class="weight-6">Книжная</span><br>
      <code>aspect-2x3</code>
    </figcaption>
  </figure>

  <figure class="m-0 w-full flex flex-col gap-1 items-center text-center">
    <div class="w-full max-w-f4 aspect-16x9 radius-2 bg-tertiary-container color-on-tertiary-container flex items-center justify-center p-2 text-center">
      <span class="weight-6">16 : 9</span>
    </div>
    <figcaption>
      <span class="weight-6">Альбомная</span><br>
      <code>aspect-16x9</code>
    </figcaption>
  </figure>
</div>
