<div class="grid grid-col-1 gap-3">
  <section class="grid grid-col-1 gap-1">
    <h3>С границами</h3>
    <div class="sf-slider sf-slider--content">
      <div class="sf-slider-main swiper"><div class="swiper-wrapper"><div class="swiper-slide"><div class="sf-slider-slide bg-primary-container radius-default p-2">Начало последовательности</div></div><div class="swiper-slide"><div class="sf-slider-slide bg-secondary-container radius-default p-2">Середина последовательности</div></div><div class="swiper-slide"><div class="sf-slider-slide bg-tertiary-container radius-default p-2">Конец последовательности</div></div></div></div>
      <div class="sf-slider-controls"><div class="sf-slider-arrows"><button type="button" class="sf-icon-button sf-icon-button--tonal sf-icon-button--primary sf-icon-button--icon sf-slider-button-prev" aria-label="Предыдущий слайд"><i class="sf-icon" aria-hidden="true">keyboard_arrow_left</i></button><button type="button" class="sf-icon-button sf-icon-button--tonal sf-icon-button--primary sf-icon-button--icon sf-slider-button-next" aria-label="Следующий слайд"><i class="sf-icon" aria-hidden="true">keyboard_arrow_right</i></button></div></div>
    </div>
  </section>
  <section class="grid grid-col-1 gap-1">
    <h3>По кругу</h3>
    <div class="sf-slider sf-slider--content" data-loop="true">
      <div class="sf-slider-main swiper"><div class="swiper-wrapper"><div class="swiper-slide"><div class="sf-slider-slide bg-primary-container radius-default p-2">Первый слайд</div></div><div class="swiper-slide"><div class="sf-slider-slide bg-secondary-container radius-default p-2">Второй слайд</div></div><div class="swiper-slide"><div class="sf-slider-slide bg-tertiary-container radius-default p-2">Третий слайд</div></div></div></div>
      <div class="sf-slider-controls"><div class="sf-slider-arrows"><button type="button" class="sf-icon-button sf-icon-button--tonal sf-icon-button--primary sf-icon-button--icon sf-slider-button-prev" aria-label="Предыдущий слайд"><i class="sf-icon" aria-hidden="true">keyboard_arrow_left</i></button><button type="button" class="sf-icon-button sf-icon-button--tonal sf-icon-button--primary sf-icon-button--icon sf-slider-button-next" aria-label="Следующий слайд"><i class="sf-icon" aria-hidden="true">keyboard_arrow_right</i></button></div></div>
    </div>
  </section>
</div>
