<div class="wrap grid grid-col-1 sm:grid-col-2 gap-3 items-start">
  <div class="flex flex-col gap-1">
    <div class="sf-text-1/2 weight-6 text-center"><code>box-border</code></div>
    <div
      class="demo m-0 bg-surface-0 border border-outline-variant radius-2 max-w-e9 h-f5 flex gap-3 items-center"
    >
      <div
        class="sf-card bg-tertiary color-on-tertiary box-border p-2 h-e9 w-full border-4 border-outline radius-2"
        aria-label="Размер с box-border"
      >
        Граница и отступ входят в заданный размер
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-1">
    <div class="sf-text-1/2 weight-6 text-center"><code>box-content</code></div>
    <div
      class="demo m-0 bg-surface-0 border border-outline-variant radius-2 max-w-e9 h-f5 flex gap-3 items-center"
    >
      <div
        class="sf-card bg-tertiary color-on-tertiary box-content p-2 h-e9 w-full border-4 border-outline radius-2"
        aria-label="box-content"
      >
        Граница и отступ увеличивают заданный размер
      </div>
    </div>
  </div>
</div>
