<div class="flex flex-col gap-3 content-main-start">
 <h3 class="text-3">Country Code by size</h3>

 <div class="grid grid-col-1 md:grid-col-2 gap-3">
 <div class="flex flex-col gap-2">
 <h4 class="text-2">Size 1/3</h4>

 <label
 class="sf-country-code sf-country-code--size-1/3 flex flex-col"
 data-locale="ru"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="true"
 data-iso2="RU"
 data-max-items="0"
 data-lazy-flags="true"
 >
 <span class="sf-country-code-label flex">
 <span class="sf-country-code-text">Default multi</span>
 <span class="sf-country-code-required">*</span>
 </span>
 <span class="sf-country-code-field transition flex items-center">
 <span class="sf-country-code-left flex items-center">
 <div class="sf-country-code-flag-icon flex"></div>
 <i class="sf-icon">expand_more</i>
 </span>
 <input
 type="text"
 value="+7 9031234567"
 placeholder="+7 (___) ___-__-__"
 />
 </span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-1/3 flex flex-col"
 data-locale="ru"
 data-use-mask="false"
 data-show-code="true"
 data-multi-country="true"
 data-iso2="RU"
 data-max-items="0"
 >
 <span class="sf-country-code-label flex">
 <span class="sf-country-code-text">No mask</span>
 </span>
 <span class="sf-country-code-field transition flex items-center">
 <span class="sf-country-code-left flex items-center">
 <div class="sf-country-code-flag-icon flex"></div>
 <i class="sf-icon">expand_more</i>
 </span>
 <input type="text" value="+7 9031234567" placeholder="Phone" />
 </span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-1/3 flex flex-col"
 data-locale="ru"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="false"
 data-dial-code="+7"
 data-iso2="RU"
 >
 <span class="sf-country-code-label flex">
 <span class="sf-country-code-text">Single value</span>
 </span>
 <span class="sf-country-code-field transition flex items-center">
 <span class="sf-country-code-left flex items-center">
 <div class="sf-country-code-flag-icon flex"></div>
 </span>
 <input
 type="text"
 value="+7 9031234567"
 placeholder="+7 (___) ___-__-__"
 />
 </span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-1/3 disabled flex flex-col"
 data-locale="ru"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="false"
 data-dial-code="+7"
 data-iso2="RU"
 >
 <span class="sf-country-code-label flex">
 <span class="sf-country-code-text">Disabled</span>
 </span>
 <span class="sf-country-code-field transition flex items-center">
 <span class="sf-country-code-left flex items-center">
 <div class="sf-country-code-flag-icon flex"></div>
 </span>
 <input type="text" disabled />
 </span>
 </label>
 </div>

 <div class="flex flex-col gap-2">
 <h4 class="text-2">Size 1/2</h4>

 <label
 class="sf-country-code sf-country-code--size-1/2 flex flex-col"
 data-locale="en"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="true"
 data-iso2="US"
 data-max-items="0"
 data-lazy-flags="true"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">Default multi</span
 ><span class="sf-country-code-required">*</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div>
 <i class="sf-icon">expand_more</i></span
 ><input
 type="text"
 value="+1 2025550101"
 placeholder="+1 (___) ___-____"
 /></span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-1/2 flex flex-col"
 data-locale="en"
 data-use-mask="false"
 data-show-code="true"
 data-multi-country="true"
 data-iso2="US"
 data-max-items="0"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">No mask</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div>
 <i class="sf-icon">expand_more</i></span
 ><input type="text" value="+1 2025550101" placeholder="Phone"
 /></span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-1/2 flex flex-col"
 data-locale="en"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="false"
 data-dial-code="+1"
 data-iso2="US"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">Single value</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div></span
 ><input
 type="text"
 value="+1 2025550101"
 placeholder="+1 (___) ___-____"
 /></span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-1/2 disabled flex flex-col"
 data-locale="en"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="false"
 data-dial-code="+1"
 data-iso2="US"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">Disabled</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div></span
 ><input type="text" disabled
 /></span>
 </label>
 </div>

 <div class="flex flex-col gap-2">
 <h4 class="text-2">Size 1</h4>

 <label
 class="sf-country-code sf-country-code--size-1 flex flex-col"
 data-locale="ru"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="true"
 data-iso2="KZ"
 data-max-items="0"
 data-lazy-flags="true"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">Default multi</span
 ><span class="sf-country-code-required">*</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div>
 <i class="sf-icon">expand_more</i></span
 ><input
 type="text"
 value="+7 7771234567"
 placeholder="+7 (___) ___-__-__"
 /></span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-1 flex flex-col"
 data-locale="ru"
 data-use-mask="false"
 data-show-code="true"
 data-multi-country="true"
 data-iso2="KZ"
 data-max-items="0"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">No mask</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div>
 <i class="sf-icon">expand_more</i></span
 ><input type="text" value="+7 7771234567" placeholder="Phone"
 /></span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-1 flex flex-col"
 data-locale="ru"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="false"
 data-dial-code="+7"
 data-iso2="KZ"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">Single value</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div></span
 ><input
 type="text"
 value="+7 7771234567"
 placeholder="+7 (___) ___-__-__"
 /></span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-1 disabled flex flex-col"
 data-locale="ru"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="false"
 data-dial-code="+7"
 data-iso2="KZ"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">Disabled</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div></span
 ><input type="text" disabled
 /></span>
 </label>
 </div>

 <div class="flex flex-col gap-2">
 <h4 class="text-2">Size 2</h4>

 <label
 class="sf-country-code sf-country-code--size-2 flex flex-col"
 data-locale="en"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="true"
 data-iso2="GB"
 data-max-items="0"
 data-lazy-flags="true"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">Default multi</span
 ><span class="sf-country-code-required">*</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div>
 <i class="sf-icon">expand_more</i></span
 ><input
 type="text"
 value="+44 7700123456"
 placeholder="+44 ____ ______"
 /></span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-2 flex flex-col"
 data-locale="en"
 data-use-mask="false"
 data-show-code="true"
 data-multi-country="true"
 data-iso2="GB"
 data-max-items="0"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">No mask</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div>
 <i class="sf-icon">expand_more</i></span
 ><input type="text" value="+44 7700123456" placeholder="Phone"
 /></span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-2 flex flex-col"
 data-locale="en"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="false"
 data-dial-code="+44"
 data-iso2="GB"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">Single value</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div></span
 ><input
 type="text"
 value="+44 7700123456"
 placeholder="+44 ____ ______"
 /></span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-2 disabled flex flex-col"
 data-locale="en"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="false"
 data-dial-code="+44"
 data-iso2="GB"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">Disabled</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div></span
 ><input type="text" disabled
 /></span>
 </label>
 </div>

 <div class="flex flex-col gap-2">
 <h4 class="text-2">Size 3</h4>

 <label
 class="sf-country-code sf-country-code--size-3 flex flex-col"
 data-locale="ru"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="true"
 data-iso2="DE"
 data-max-items="0"
 data-lazy-flags="true"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">Default multi</span
 ><span class="sf-country-code-required">*</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div>
 <i class="sf-icon">expand_more</i></span
 ><input type="text" value="+49 15123456789" placeholder="+49 ..."
 /></span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-3 flex flex-col"
 data-locale="ru"
 data-use-mask="false"
 data-show-code="true"
 data-multi-country="true"
 data-iso2="DE"
 data-max-items="0"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">No mask</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div>
 <i class="sf-icon">expand_more</i></span
 ><input type="text" value="+49 15123456789" placeholder="Phone"
 /></span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-3 flex flex-col"
 data-locale="ru"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="false"
 data-dial-code="+49"
 data-iso2="DE"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">Single value</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div></span
 ><input type="text" value="+49 15123456789" placeholder="+49 ..."
 /></span>
 </label>

 <label
 class="sf-country-code sf-country-code--size-3 disabled flex flex-col"
 data-locale="ru"
 data-use-mask="true"
 data-show-mask-placeholder="true"
 data-mask-style="native"
 data-use-country-masks="true"
 data-show-code="true"
 data-multi-country="false"
 data-dial-code="+49"
 data-iso2="DE"
 >
 <span class="sf-country-code-label flex"
 ><span class="sf-country-code-text">Disabled</span></span
 >
 <span class="sf-country-code-field transition flex items-center"
 ><span class="sf-country-code-left flex items-center"
 ><div class="sf-country-code-flag-icon flex"></div></span
 ><input type="text" disabled
 /></span>
 </label>
 </div>
 </div>
</div>
