<div class="swiper overflow-hidden" role="region" aria-label="Краткий обзор возможностей">
 <div class="swiper-wrapper">
 <article class="swiper-slide p-inline-1 p-bottom-2"><div class="bg-surface-container color-on-surface border border-outline-variant p-3 radius-default">Слайд 1</div></article>
 <article class="swiper-slide p-inline-1 p-bottom-2"><div class="bg-surface-container color-on-surface border border-outline-variant p-3 radius-default">Слайд 2</div></article>
 <article class="swiper-slide p-inline-1 p-bottom-2"><div class="bg-surface-container color-on-surface border border-outline-variant p-3 radius-default">Слайд 3</div></article>
 </div>
 <div class="swiper-pagination"></div>
</div>
