<div class="grid grid-cols-2 gap-4">
  <div class="flex flex-col gap-1">
    <span>Круг</span>
    <div class="sf-skeleton sf-skeleton--animation-pulse flex" aria-hidden="true">
      <div class="sf-skeleton-text sf-skeleton-text--size-7 sf-skeleton-icon sf-skeleton-circle"></div>
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <span>Без скругления</span>
    <div class="sf-skeleton sf-skeleton--animation-pulse flex" aria-hidden="true">
      <div class="sf-skeleton-text sf-skeleton-text--size-7 sf-skeleton-icon sf-skeleton-square"></div>
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <span>Строка</span>
    <div class="sf-skeleton sf-skeleton--animation-pulse flex" aria-hidden="true">
      <div class="sf-skeleton-text sf-skeleton-text--size-2 w-full"></div>
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <span>Поверхность</span>
    <div class="sf-skeleton sf-skeleton--animation-pulse flex" aria-hidden="true">
      <div class="sf-skeleton-text sf-skeleton-text--size-2 sf-skeleton-rounded w-full"></div>
    </div>
  </div>
</div>
