<div class="flex flex-wrap gap-3 items-cross-center">
  <i class="sf-icon sf-icon--size-3">arrow_upward</i>
  <i class="sf-icon sf-icon--size-3 sf-icon--rotate-45">arrow_upward</i>
  <i class="sf-icon sf-icon--size-3 sf-icon--rotate-90">arrow_upward</i>
  <i class="sf-icon sf-icon--size-3 sf-icon--rotate-135">arrow_upward</i>
  <i class="sf-icon sf-icon--size-3 sf-icon--rotate-180">arrow_upward</i>
  <i class="sf-icon sf-icon--size-3 sf-icon--rotate-225">arrow_upward</i>
  <i class="sf-icon sf-icon--size-3 sf-icon--rotate-270">arrow_upward</i>
  <i class="sf-icon sf-icon--size-3 sf-icon--rotate-315">arrow_upward</i>
</div>
