<div class="sf-tabs sf-tabs--underline flex flex-col">
  <div class="sf-tabs-top-container flex">
    <nav class="sf-tabs-top flex" aria-label="Документы">
      <button type="button" class="sf-button selected sf-button--default sf-button--primary sf-button--size-1"><span class="sf-button-text-container">Все</span></button>
      <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1"><span class="sf-button-text-container">Черновики</span></button>
    </nav>
  </div>
  <div class="sf-tabs-main-container"><section class="sf-tabs-main-tab selected">Все документы.</section><section class="sf-tabs-main-tab">Только черновики.</section></div>
</div>
