<div class="flex flex-wrap gap-2 items-cross-center">
  <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1">
    <span class="sf-button-text-container">Обычная</span>
  </button>
  <button type="button" class="sf-button sf-button--outline sf-button--primary sf-button--size-1 active" aria-pressed="true">
    <span class="sf-button-text-container">Выбрано</span>
  </button>
  <button type="button" disabled class="sf-button sf-button--default sf-button--primary sf-button--size-1">
    <span class="sf-button-text-container">Недоступно</span>
  </button>
  <button type="button" disabled aria-busy="true" class="sf-button sf-button--default sf-button--primary sf-button--size-1 loading sf-button-state-loading">
    <span class="sf-button-text-container">Сохранение</span>
  </button>
</div>
