<div class="flex flex-wrap gap-4 items-cross-center">
  <div class="sf-tooltip sf-tooltip--dark sf-tooltip--size-1 sf-tooltip--arrow-none">
    <div class="sf-tooltip-content"><div class="sf-tooltip-wrap flex flex-col"><span class="sf-tooltip-text">Тёмная</span><span class="sf-tooltip-supporting-text">Контрастная поверхность</span></div><span class="sf-tooltip-tail" aria-hidden="true"></span></div>
  </div>
  <div class="sf-tooltip sf-tooltip--light sf-tooltip--size-1 sf-tooltip--arrow-none">
    <div class="sf-tooltip-content"><div class="sf-tooltip-wrap flex flex-col"><span class="sf-tooltip-text">Светлая</span><span class="sf-tooltip-supporting-text">Светлая поверхность</span></div><span class="sf-tooltip-tail" aria-hidden="true"></span></div>
  </div>
</div>
