<div class="grid grid-col-1 sm:grid-col-3 gap-1">
  <button class="sf-datepicker-text sf-datepicker-text-start flex content-main-center items-cross-center" type="button"><span class="sf-datepicker-day-date">Январь</span></button>
  <button class="sf-datepicker-text sf-datepicker-text-selected flex content-main-center items-cross-center" type="button"><span class="sf-datepicker-day-date">Февраль</span></button>
  <button class="sf-datepicker-text sf-datepicker-text-end flex content-main-center items-cross-center" type="button"><span class="sf-datepicker-day-date">Март</span></button>
</div>
