<div class="sf-context-menu sf-context-menu--position-top-left flex relative max-w-sm">
  <div class="sf-context-menu-tooltip" aria-hidden="true"></div>
  <div class="sf-context-menu-content flex flex-col flex-1" role="menu" aria-label="Действия с документом">
    <button type="button" role="menuitem" class="sf-button sf-button--link sf-button--on-surface sf-button--size-1/2 justify-start"><span class="sf-button-text-container">Переименовать</span></button>
    <button type="button" role="menuitem" class="sf-button sf-button--link sf-button--on-surface sf-button--size-1/2 justify-start"><span class="sf-button-text-container">Создать копию</span></button>
    <button type="button" role="menuitem" class="sf-button sf-button--link sf-button--on-surface sf-button--size-1/2 justify-start"><span class="sf-button-text-container">Удалить</span></button>
  </div>
</div>
