<div class="grid grid-col-1 max-w-sm gap-3 content-main-start">
 <div class="flex flex-col gap-2">
 <h3 class="text-2">Quantity sizes</h3>

 <label class="sf-quantity sf-quantity--size-1/3 flex flex-col">
 <span class="sf-quantity-label flex">
 <span class="sf-quantity-text">Size 1/3</span>
 <span class="sf-quantity-required">*</span>
 </span>
 <span class="sf-quantity-wrap flex content-main-center items-cross-center transition">
 <button aria-label="Decrease value" type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">remove</i></button>
 <input type="text" value="2 567" inputmode="numeric" />
 <button aria-label="Increase value" type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">add</i></button>
 </span>
 </label>

 <label class="sf-quantity sf-quantity--size-1/2 flex flex-col">
 <span class="sf-quantity-label flex">
 <span class="sf-quantity-text">Size 1/2</span>
 <span class="sf-quantity-required">*</span>
 </span>
 <span class="sf-quantity-wrap flex content-main-center items-cross-center transition">
 <button aria-label="Decrease value" type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">remove</i></button>
 <input type="text" value="2 567" inputmode="numeric" />
 <button aria-label="Increase value" type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">add</i></button>
 </span>
 </label>

 <label class="sf-quantity sf-quantity--size-1 flex flex-col">
 <span class="sf-quantity-label flex">
 <span class="sf-quantity-text">Size 1</span>
 <span class="sf-quantity-required">*</span>
 </span>
 <span class="sf-quantity-wrap flex content-main-center items-cross-center transition">
 <button aria-label="Decrease value" type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">remove</i></button>
 <input type="text" value="2 567" inputmode="numeric" />
 <button aria-label="Increase value" type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">add</i></button>
 </span>
 </label>

 <label class="sf-quantity sf-quantity--size-2 flex flex-col">
 <span class="sf-quantity-label flex">
 <span class="sf-quantity-text">Size 2</span>
 <span class="sf-quantity-required">*</span>
 </span>
 <span class="sf-quantity-wrap flex content-main-center items-cross-center transition">
 <button aria-label="Decrease value" type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">remove</i></button>
 <input type="text" value="2 567" inputmode="numeric" />
 <button aria-label="Increase value" type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">add</i></button>
 </span>
 </label>

 <label class="sf-quantity sf-quantity--size-3 flex flex-col">
 <span class="sf-quantity-label flex">
 <span class="sf-quantity-text">Size 3</span>
 <span class="sf-quantity-required">*</span>
 </span>
 <span class="sf-quantity-wrap flex content-main-center items-cross-center transition">
 <button aria-label="Decrease value" type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">remove</i></button>
 <input type="text" value="2 567" inputmode="numeric" />
 <button aria-label="Increase value" type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">add</i></button>
 </span>
 </label>
 <label class="sf-quantity sf-quantity--size-1 error flex flex-col">
 <span class="sf-quantity-label flex">
 <span class="sf-quantity-text">Error</span>
 <span class="sf-quantity-required">*</span>
 </span>
 <span class="sf-quantity-wrap flex content-main-center items-cross-center transition">
 <button aria-label="Decrease value" type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">remove</i></button>
 <input type="text" value="2 567" inputmode="numeric" />
 <button aria-label="Increase value" type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">add</i></button>
 </span>
 </label>

 <label class="sf-quantity sf-quantity--size-1 flex flex-col">
 <span class="sf-quantity-label flex">
 <span class="sf-quantity-text">Disabled</span>
 </span>
 <span class="sf-quantity-wrap flex content-main-center items-cross-center transition">
 <button aria-label="Decrease value" type="button" disabled class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">remove</i></button>
 <input disabled name="disabled" type="text" value="2 567" inputmode="numeric" />
 <button aria-label="Increase value" type="button" disabled class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex"><i class="sf-icon">add</i></button>
 </span>
 </label>
 </div>
</div>
