<label class="sf-quantity sf-quantity--size-1 flex flex-col">
  <span class="sf-quantity-label flex"><span class="sf-quantity-text">Количество мест</span></span>
  <span class="sf-quantity-wrap flex content-main-center items-cross-center transition">
    <button type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex" aria-label="Уменьшить"><i class="sf-icon" aria-hidden="true">remove</i></button>
    <input type="text" value="2" inputmode="numeric" min="1" max="10" step="1">
    <button type="button" class="sf-quantity-count sf-icon-button sf-icon-button--secondary sf-icon-button--tonal sf-icon-button--size-1/3 flex" aria-label="Увеличить"><i class="sf-icon" aria-hidden="true">add</i></button>
  </span>
</label>
