<div class="flex flex-col gap-2">
  <div class="flex items-cross-center gap-1">
    <span class="sf-flag sf-flag--rect" data-country="np"></span>
    <span class="sf-flag sf-flag--rect" data-country="sg"></span>
    <span class="sf-flag sf-flag--rect" data-country="ar"></span>
    <span class="sf-flag sf-flag--rect" data-country="ch"></span>
  </div>
  <div class="flex items-cross-center gap-1">
    <span class="sf-flag sf-flag--circle" data-country="np"></span>
    <span class="sf-flag sf-flag--circle" data-country="sg"></span>
    <span class="sf-flag sf-flag--circle" data-country="ar"></span>
    <span class="sf-flag sf-flag--circle" data-country="ch"></span>
  </div>
</div>
