<fieldset class="border-0 p-0 m-0">
  <legend class="m-bottom-2">Начертание заголовка</legend>
  <div class="sf-radio-button sf-radio-wrap--type-font flex sf-radio-button--size-1" data-sf-radio-descriptions='["Обычное начертание","Среднее начертание","Полужирное начертание"]'>
    <div class="sf-radio-group sf-radio-group--font flex items-cross-start">
      <label class="sf-radio-button sf-radio-button--size-1 sf-radio-button--type-font">
        <i class="sf-radio-text active" aria-hidden="true">Aa</i>
        <input type="radio" name="font-weight" value="regular" data-sf-radio-font-index="0" aria-label="Обычное начертание" checked>
      </label>
      <label class="sf-radio-button sf-radio-button--size-1 sf-radio-button--type-font">
        <i class="sf-radio-text" aria-hidden="true">Aa</i>
        <input type="radio" name="font-weight" value="medium" data-sf-radio-font-index="1" aria-label="Среднее начертание">
      </label>
      <label class="sf-radio-button sf-radio-button--size-1 sf-radio-button--type-font">
        <i class="sf-radio-text" aria-hidden="true">Aa</i>
        <input type="radio" name="font-weight" value="bold" data-sf-radio-font-index="2" aria-label="Полужирное начертание">
      </label>
    </div>
    <div class="sf-radio-button-container flex flex-col">
      <span class="sf-radio-button-description">Обычное начертание</span>
    </div>
  </div>
</fieldset>
