<div class="wrap grid grid-col-1 sm:grid-col-2 gap-3 content-main-start">
  <div class="flex flex-col gap-1">
    <div class="sf-text-1/2 weight-6">z - 2 / z - 1 / z - 0 / z - -1</div>
    <div
      class="demo m-0 relative bg-surface-0 border border-outline-variant radius-2 p-3 h-f9"
    >
      <div
        class="sf-card bg-tertiary color-on-tertiary p-2 radius-2 absolute inline-start-0 top-2/12 bottom-0 inline-end-0 z-1"
        aria-label="z-1"
      >
        z-1
      </div>
      <div
        class="sf-card bg-success color-on-success p-2 radius-2 absolute inline-start-0 top-4/12 bottom-0 inline-end-0 z-2"
        aria-label="z-2"
      >
        z-2
      </div>
      <div
        class="sf-card bg-primary color-on-primary p-2 radius-2 absolute inline-start-auto inset-0 inline-end-auto z-0"
        aria-label="z-0"
      >
        z-0
      </div>
      <div
        class="sf-card bg-warning color-on-warning p-6 radius-2 top-11/12 absolute inline-start-0 inline-end-0 z--1"
        aria-label="z--1"
      >
        z--1
      </div>
    </div>
  </div>
</div>
