<div class="grid gap-2 max-w-sm" aria-label="Варианты List Item">
  <div class="sf-list-item sf-list-item--text sf-list-item--size-1 flex items-cross-center">
    <div class="sf-list-item-wrap flex flex-1">
      <div class="sf-list-item-container">Текстовый пункт</div>
    </div>
  </div>
  <div class="sf-list-item sf-list-item--icon sf-list-item--size-1 flex items-cross-center">
    <div class="sf-list-item-wrap flex flex-1 flex-row flex-nowrap items-center gap-2">
      <i class="sf-icon" aria-hidden="true">code</i>
      <div class="sf-list-item-container">Пункт с иконкой</div>
    </div>
  </div>
  <div class="sf-list-item sf-list-item--checkbox sf-list-item--size-1 flex items-cross-center selected">
    <div class="sf-list-item-wrap flex flex-1 flex-row flex-nowrap items-center gap-2">
      <label class="sf-checkbox sf-checkbox--size-1 flex" aria-hidden="true">
        <span class="sf-checkbox-box flex">
          <input type="checkbox" checked tabindex="-1">
          <span class="sf-icon" aria-hidden="true"></span>
        </span>
      </label>
      <div class="sf-list-item-container">Пункт с отметкой</div>
    </div>
  </div>
  <div class="sf-list-item sf-list-item--avatar sf-list-item--size-1 flex items-cross-center">
    <div class="sf-list-item-wrap flex flex-1 flex-row flex-nowrap items-center justify-between gap-2">
      <div class="sf-avatar-label-group sf-avatar-label-group--size-1 flex items-cross-center">
        <span class="sf-avatar sf-avatar--size-1/2 bg-cover" aria-hidden="true"></span>
        <div class="sf-avatar-label-group-container flex flex-col">
          <div class="sf-avatar-label-group-title">Команда проекта</div>
        </div>
      </div>
    </div>
  </div>
  <div class="sf-list-item sf-list-item--color sf-list-item--size-1 flex items-cross-center disabled">
    <div class="sf-list-item-wrap flex flex-1 flex-row flex-nowrap items-center justify-between gap-2">
      <div class="sf-tag sf-tag--color sf-tag--size-1 flex flex-row flex-nowrap items-center flex-1 disabled">
        <span class="sf-tag-color-icon bg-primary" aria-hidden="true"></span>
        <span class="sf-tag-container">Цветовой пункт</span>
      </div>
    </div>
  </div>
</div>
