<div class="sf-breadcrumbs flex items-cross-center">
<button type="button" class="sf-breadcrumbs-item sf-breadcrumbs-item--link">
 <span class="sf-breadcrumbs-item-container flex items-cross-center">
 <i class="sf-icon">home</i>
 </span>
</button>
<div class="sf-breadcrumbs-item sf-breadcrumbs-item--default">
 <span class="sf-breadcrumbs-item-container flex items-cross-center">
 <i class="sf-icon">chevron_right</i>
 </span>
</div>
<button type="button" class="sf-breadcrumbs-item sf-breadcrumbs-item--link">
 <span class="sf-breadcrumbs-item-container flex items-cross-center">
 <span>Category</span>
 </span>
</button>
<div class="sf-breadcrumbs-item sf-breadcrumbs-item--default">
 <span class="sf-breadcrumbs-item-container flex items-cross-center">
 <i class="sf-icon">chevron_right</i>
 </span>
</div>
<button type="button" class="sf-breadcrumbs-item sf-breadcrumbs-item--link">
 <span class="sf-breadcrumbs-item-container flex items-cross-center">
 <span>Hidden level</span>
 </span>
</button>
<div class="sf-breadcrumbs-item sf-breadcrumbs-item--default">
 <span class="sf-breadcrumbs-item-container flex items-cross-center">
 <i class="sf-icon">chevron_right</i>
 </span>
</div>
<button type="button" class="sf-breadcrumbs-item sf-breadcrumbs-item--link">
 <span class="sf-breadcrumbs-item-container flex items-cross-center">
 <span>Subcategory</span>
 </span>
</button>
<div class="sf-breadcrumbs-item sf-breadcrumbs-item--default">
 <span class="sf-breadcrumbs-item-container flex items-cross-center">
 <i class="sf-icon">chevron_right</i>
 </span>
</div>
<button type="button" class="sf-breadcrumbs-item sf-breadcrumbs-item--link">
 <span class="sf-breadcrumbs-item-container flex items-cross-center">
 <span>Category Item</span>
 </span>
</button>
</div>
