<nav class="sf-breadcrumbs flex items-cross-center" aria-label="Хлебные крошки">
  <a class="sf-breadcrumbs-item sf-breadcrumbs-item--link" href="#home">
    <span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon" aria-hidden="true">home</i></span>
  </a>
  <span class="sf-breadcrumbs-item sf-breadcrumbs-item--default" aria-hidden="true"><span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon">chevron_right</i></span></span>
  <a class="sf-breadcrumbs-item sf-breadcrumbs-item--link" href="#components"><span class="sf-breadcrumbs-item-container flex items-cross-center">Компоненты</span></a>
  <span class="sf-breadcrumbs-item sf-breadcrumbs-item--default" aria-hidden="true"><span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon">chevron_right</i></span></span>
  <span class="sf-breadcrumbs-item active"><span class="sf-breadcrumbs-item-container flex items-cross-center" aria-current="page">Хлебные крошки</span></span>
</nav>
