<nav class="sf-breadcrumbs flex items-cross-center" aria-label="Хлебные крошки">
  <a class="sf-breadcrumbs-item sf-breadcrumbs-item--link" href="#home" aria-label="Главная">
    <span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon" aria-hidden="true">home</i></span>
  </a>
  <span class="sf-breadcrumbs-item sf-breadcrumbs-item--default sf-breadcrumbs-item--separator" aria-hidden="true"><span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon" aria-hidden="true">chevron_right</i></span></span>
  <a class="sf-breadcrumbs-item sf-breadcrumbs-item--link" href="#components"><span class="sf-breadcrumbs-item-container flex items-cross-center">Компоненты</span></a>
  <span class="sf-breadcrumbs-item sf-breadcrumbs-item--default sf-breadcrumbs-item--separator" aria-hidden="true"><span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon" aria-hidden="true">chevron_right</i></span></span>
  <span class="sf-breadcrumbs-item sf-breadcrumbs-item--default active" aria-current="page"><span class="sf-breadcrumbs-item-container flex items-cross-center">Хлебные крошки</span></span>
</nav>
