<div class="flex flex-wrap gap-3 items-cross-center">
  <i class="sf-icon sf-icon--weight-thin sf-icon--size-3" aria-hidden="true">star</i>
  <i class="sf-icon sf-icon--weight-extra-light sf-icon--size-3" aria-hidden="true">star</i>
  <i class="sf-icon sf-icon--weight-light sf-icon--size-3" aria-hidden="true">star</i>
  <i class="sf-icon sf-icon--weight-regular sf-icon--size-3" aria-hidden="true">star</i>
  <i class="sf-icon sf-icon--weight-medium sf-icon--size-3" aria-hidden="true">star</i>
  <i class="sf-icon sf-icon--weight-semi-bold sf-icon--size-3" aria-hidden="true">star</i>
  <i class="sf-icon sf-icon--weight-bold sf-icon--size-3" aria-hidden="true">star</i>
  <i class="sf-icon sf-icon--filled sf-icon--size-3" aria-hidden="true">star</i>
</div>
