<div class="flex flex-wrap gap-3 items-cross-center">
  <i class="sf-icon sf-icon-extra-light sf-icon--size-3" aria-label="Extra light">star</i>
  <i class="sf-icon sf-icon-light sf-icon--size-3" aria-label="Light">star</i>
  <i class="sf-icon sf-icon-regular sf-icon--size-3" aria-label="Regular">star</i>
  <i class="sf-icon sf-icon-medium sf-icon--size-3" aria-label="Medium">star</i>
  <i class="sf-icon sf-icon-semi-bold sf-icon--size-3" aria-label="Semi bold">star</i>
  <i class="sf-icon sf-icon-bold sf-icon--size-3" aria-label="Bold">star</i>
  <i class="sf-icon sf-icon-filled sf-icon--size-3" aria-label="Filled">star</i>
  <i class="sf-icon sf-icon-solid sf-icon--size-3" aria-label="Solid">star</i>
</div>
