<div class="grid grid-col-1 gap-2">
  <div class="sf-alert sf-alert--info sf-alert--default flex items-start">
    <i class="sf-icon" aria-hidden="true">info</i>
    <div class="sf-alert-wrap flex flex-col flex-1">
      <div class="sf-alert-content flex flex-col flex-1">
        <div class="sf-alert-text">Заполненная поверхность</div>
        <div class="sf-alert-supporting-text">Для самостоятельного заметного сообщения.</div>
      </div>
    </div>
  </div>
  <div class="sf-alert sf-alert--info sf-alert--outlined flex items-start">
    <i class="sf-icon" aria-hidden="true">info</i>
    <div class="sf-alert-wrap flex flex-col flex-1">
      <div class="sf-alert-content flex flex-col flex-1">
        <div class="sf-alert-text">Контурная поверхность</div>
        <div class="sf-alert-supporting-text">Для спокойного сообщения на фоне страницы.</div>
      </div>
    </div>
  </div>
  <div class="sf-alert sf-alert--info sf-alert--flat flex items-start">
    <i class="sf-icon" aria-hidden="true">info</i>
    <div class="sf-alert-wrap flex flex-col flex-1">
      <div class="sf-alert-content flex flex-col flex-1">
        <div class="sf-alert-text">Плоская поверхность</div>
        <div class="sf-alert-supporting-text">Для сообщения внутри уже очерченного контейнера.</div>
      </div>
    </div>
  </div>
</div>
