<div class="sf-toast sf-toast--success flex items-cross-start max-w-xl">
  <i class="sf-icon" aria-hidden="true">check_circle</i>
  <div class="sf-toast-container flex flex-col flex-1">
    <div class="sf-toast-wrap flex flex-col">
      <div class="sf-toast-text">Файл удалён</div>
      <div class="sf-toast-supporting-text">Действие можно отменить.</div>
    </div>
    <div class="sf-toast-bottom flex flex-wrap items-center">
      <button type="button" class="sf-button sf-button--default sf-button--on-surface sf-button--size-1/2" data-action="undo" data-toast-action="undo">
        <span class="sf-button-text-container">Отменить</span>
      </button>
    </div>
  </div>
  <button type="button" class="sf-icon-button sf-icon-button--variant-close sf-icon-button--on-surface sf-icon-button--link sf-icon-button--size-1/3" data-close data-toast-close aria-label="Закрыть сообщение">
    <span class="sf-close sf-close--size-1/3 flex justify-center items-center" aria-hidden="true"><span class="sf-close-icon"></span></span>
  </button>
</div>
