<fieldset class="border-0 p-0 m-0">
  <legend class="m-bottom-2">Способ получения</legend>
  <div class="flex flex-col gap-2">
    <label class="sf-radio-button sf-radio-button--size-1 flex"><span class="sf-radio-button-box transition flex items-cross-center content-main-center"><input name="delivery" value="email" type="radio" checked><span class="sf-radio-button-mark"></span></span><span class="sf-radio-button-container flex flex-col"><span class="sf-radio-button-text">Электронная почта</span></span></label>
    <label class="sf-radio-button sf-radio-button--size-1 flex"><span class="sf-radio-button-box transition flex items-cross-center content-main-center"><input name="delivery" value="download" type="radio"><span class="sf-radio-button-mark"></span></span><span class="sf-radio-button-container flex flex-col"><span class="sf-radio-button-text">Скачать файл</span></span></label>
  </div>
</fieldset>
