<div class="sf-button-group" role="group" aria-label="Действия с файлом" data-orientation="vertical">
  <button type="button" class="sf-button sf-button--default sf-button--on-surface sf-button--size-1">
    <span class="sf-button-text-container">Открыть</span>
  </button>
  <button type="button" class="sf-button sf-button--outline sf-button--on-surface sf-button--size-1">
    <span class="sf-button-text-container">Переименовать</span>
  </button>
  <button type="button" class="sf-button sf-button--outline sf-button--on-surface sf-button--size-1">
    <span class="sf-button-text-container">Переместить</span>
  </button>
</div>
