<div class="sf-button-group" role="group" aria-label="Режим отображения" aria-orientation="vertical">
  <button type="button" class="sf-button sf-button--default sf-button--on-surface sf-button--size-1" aria-pressed="true">
    <span class="sf-button-text-container">Карточки</span>
  </button>
  <button type="button" class="sf-button sf-button--outline sf-button--on-surface sf-button--size-1" aria-pressed="false">
    <span class="sf-button-text-container">Таблица</span>
  </button>
  <button type="button" class="sf-button sf-button--outline sf-button--on-surface sf-button--size-1" aria-pressed="false">
    <span class="sf-button-text-container">Список</span>
  </button>
</div>
