<div class="bg-surface-1 p-2 flex flex-col gap-1 items-cross-start">
 <div class="sf-datepicker">
 <div class="sf-datepicker-main flex flex-col">
 <div class="sf-datepicker-top flex content-main-between">
 <button
 type="button"
 class="sf-button sf-button--link sf-button--on-surface sf-button--size-1 tightness-low"
 >
 <span class="sf-button-text-container">Январь</span
 ><i class="sf-icon">expand_more</i>
 </button>
 <button
 type="button"
 class="sf-button sf-button--link sf-button--on-surface sf-button--size-1 tightness-low"
 >
 <span class="sf-button-text-container">2026</span
 >
 </button>
 </div>
<div class="sf-datepicker-main relative">
 <div class="sf-datepicker-context absolute top-0 bottom-0 inline-start-0 inline-end-0 grid grid-col-3 content-cross-start items-cross-start">
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Январь</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Февраль</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Март</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Апрель</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Май</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Июнь</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Июль</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Август</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Сентябрь</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Октябрь</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Ноябрь</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Декабрь</span>
 </button>
 </div>
 <div class="grid grid-col-7">
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">24</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">25</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">26</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">27</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">28</span></button>
 <button class="sf-datepicker-day sf-datepicker-day-off" type="button"><span class="sf-datepicker-day-date">1</span></button>
 <button class="sf-datepicker-day sf-datepicker-day-off" type="button"><span class="sf-datepicker-day-date">2</span></button>

 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">3</span></button>
 <button class="sf-datepicker-day active" type="button"><span class="sf-datepicker-day-date">4</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">5</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">6</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">7</span></button>
 <button class="sf-datepicker-day sf-datepicker-day-off" type="button"><span class="sf-datepicker-day-date">8</span></button>
 <button class="sf-datepicker-day sf-datepicker-day-off" type="button"><span class="sf-datepicker-day-date">9</span></button>

 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">10</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">11</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">12</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">13</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">14</span></button>
 <button class="sf-datepicker-day sf-datepicker-day-off" type="button"><span class="sf-datepicker-day-date">15</span></button>
 <button class="sf-datepicker-day sf-datepicker-day-off" type="button"><span class="sf-datepicker-day-date">16</span></button>

 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">17</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">18</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">19</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">20</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">21</span></button>
 <button class="sf-datepicker-day sf-datepicker-day-off" type="button"><span class="sf-datepicker-day-date">22</span></button>
 <button class="sf-datepicker-day sf-datepicker-day-off" type="button"><span class="sf-datepicker-day-date">23</span></button>

 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">24</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">25</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">26</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">27</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">28</span></button>
 <button class="sf-datepicker-day sf-datepicker-day-off" type="button"><span class="sf-datepicker-day-date">29</span></button>
 <button class="sf-datepicker-day sf-datepicker-day-off" type="button"><span class="sf-datepicker-day-date">30</span></button>

 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">31</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">1</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">2</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">3</span></button>
 <button class="sf-datepicker-day" type="button"><span class="sf-datepicker-day-date">4</span></button>
 <button class="sf-datepicker-day sf-datepicker-day-off" type="button"><span class="sf-datepicker-day-date">5</span></button>
 <button class="sf-datepicker-day sf-datepicker-day-off" type="button"><span class="sf-datepicker-day-date">6</span></button>
</div>
</div>
</div>
 </div>
 <button class="sf-datepicker-day flex content-main-start items-cross-center flex-col" type="button">
 <span class="sf-datepicker-day-date">1</span>
 <span class="sf-datepicker-day-info">18.3%</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Январь</span>
 </button>
 <button class="sf-datepicker-text flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">2012</span>
 </button>
 <div class="flex">
 <button class="sf-datepicker-day sf-datepicker-day-start flex content-main-start items-cross-center flex-col" type="button">
 <span class="sf-datepicker-day-date">1</span>
 <span class="sf-datepicker-day-info">18.3%</span>
 </button>
 <button class="sf-datepicker-day sf-datepicker-day-selected flex content-main-start items-cross-center flex-col" type="button">
 <span class="sf-datepicker-day-date">2</span>
 <span class="sf-datepicker-day-info">18.3%</span>
 </button>
 <button class="sf-datepicker-day sf-datepicker-day-selected flex content-main-start items-cross-center flex-col" type="button">
 <span class="sf-datepicker-day-date">3</span>
 <span class="sf-datepicker-day-info">18.3%</span>
 </button>
 <button class="sf-datepicker-day sf-datepicker-day-selected flex content-main-start items-cross-center flex-col" type="button">
 <span class="sf-datepicker-day-date">4</span>
 <span class="sf-datepicker-day-info">18.3%</span>
 </button>
 <button class="sf-datepicker-day sf-datepicker-day-selected flex content-main-start items-cross-center flex-col" type="button">
 <span class="sf-datepicker-day-date">5</span>
 <span class="sf-datepicker-day-info">18.3%</span>
 </button>
 <button class="sf-datepicker-day sf-datepicker-day-end flex content-main-start items-cross-center flex-col" type="button">
 <span class="sf-datepicker-day-date">1</span>
 <span class="sf-datepicker-day-info">18.3%</span>
 </button>
 </div>
 <div class="flex">
 <button class="sf-datepicker-text sf-datepicker-text-start flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Январь</span>
 </button>
 <button class="sf-datepicker-text sf-datepicker-text-selected flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Февраль</span>
 </button>
 <button class="sf-datepicker-text sf-datepicker-text-selected flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Март</span>
 </button>
 <button class="sf-datepicker-text sf-datepicker-text-selected flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Апрель</span>
 </button>
 <button class="sf-datepicker-text sf-datepicker-text-selected flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Май</span>
 </button>
 <button class="sf-datepicker-text sf-datepicker-text-end flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">Июнь</span>
 </button>
 </div>
 <div class="flex">
 <button class="sf-datepicker-text sf-datepicker-text-start flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">2007</span>
 </button>
 <button class="sf-datepicker-text sf-datepicker-text-selected flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">2008</span>
 </button>
 <button class="sf-datepicker-text sf-datepicker-text-selected flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">2009</span>
 </button>
 <button class="sf-datepicker-text sf-datepicker-text-selected flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">2010</span>
 </button>
 <button class="sf-datepicker-text sf-datepicker-text-selected flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">2011</span>
 </button>
 <button class="sf-datepicker-text sf-datepicker-text-end flex content-main-center items-cross-center" type="button">
 <span class="sf-datepicker-day-date">2012</span>
 </button>
 </div>
 </div>
</div>
