<div class="sf-datepicker">
  <div class="sf-datepicker-main flex flex-col gap-2">
    <div class="sf-datepicker-top flex content-main-between"><span>Сентябрь 2026</span></div>
    <div class="sf-datepicker-row grid grid-col-7">
      <button class="sf-datepicker-day" type="button" aria-label="1 сентября 2026"><span class="sf-datepicker-day-date">1</span></button>
      <button class="sf-datepicker-day" type="button" aria-label="2 сентября 2026"><span class="sf-datepicker-day-date">2</span></button>
      <button class="sf-datepicker-day active" type="button" aria-label="3 сентября 2026, выбрано"><span class="sf-datepicker-day-date">3</span></button>
      <button class="sf-datepicker-day" type="button" aria-label="4 сентября 2026"><span class="sf-datepicker-day-date">4</span></button>
      <button class="sf-datepicker-day" type="button" aria-label="5 сентября 2026"><span class="sf-datepicker-day-date">5</span></button>
      <button class="sf-datepicker-day sf-datepicker-day-off" type="button" aria-label="6 сентября 2026, недоступно" disabled><span class="sf-datepicker-day-date">6</span></button>
      <button class="sf-datepicker-day sf-datepicker-day-off" type="button" aria-label="7 сентября 2026, недоступно" disabled><span class="sf-datepicker-day-date">7</span></button>
    </div>
  </div>
</div>
