<div class="flex flex-wrap gap-2 items-cross-center">
  <span class="sf-featured-icon sf-featured-icon--size-2 sf-featured-icon--light sf-featured-icon--circle sf-featured-icon--primary flex"><i class="sf-icon">star</i></span>
  <span class="sf-featured-icon sf-featured-icon--size-2 sf-featured-icon--dark sf-featured-icon--circle sf-featured-icon--primary flex"><i class="sf-icon">star</i></span>
  <span class="sf-featured-icon sf-featured-icon--size-2 sf-featured-icon--mid sf-featured-icon--square sf-featured-icon--primary flex"><i class="sf-icon">star</i></span>
  <span class="sf-featured-icon sf-featured-icon--size-2 sf-featured-icon--modern sf-featured-icon--square sf-featured-icon--primary flex"><i class="sf-icon">star</i></span>
</div>
