<div class="flex flex-wrap gap-2 items-cross-center">
  <button type="button" class="sf-fab sf-fab--default sf-fab--primary sf-fab--size-1 flex justify-center items-center" aria-label="Добавить">
    <i class="sf-icon" aria-hidden="true">add</i>
  </button>
  <button type="button" class="sf-fab sf-fab--default sf-fab--primary sf-fab--size-1 flex justify-center items-center active" aria-label="Добавлено" aria-pressed="true">
    <i class="sf-icon" aria-hidden="true">check</i>
  </button>
  <button type="button" class="sf-fab sf-fab--default sf-fab--primary sf-fab--size-1 flex justify-center items-center" aria-label="Добавить недоступно" disabled>
    <i class="sf-icon" aria-hidden="true">add</i>
  </button>
</div>
