<div class="flex flex-wrap gap-1 items-center">
  <span class="sf-badge sf-badge--tonal sf-badge--neutral sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">1/3</span></span></span>
  <span class="sf-badge sf-badge--tonal sf-badge--neutral sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">1/2</span></span></span>
  <span class="sf-badge sf-badge--tonal sf-badge--neutral sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">1</span></span></span>
</div>
