<div class="sf-tabs flex flex-col" data-active-index="0">
  <div class="sf-tabs-top-container flex">
    <nav class="sf-tabs-top flex" aria-label="Параметры проекта">
      <button type="button" class="sf-button selected sf-button--default sf-button--primary sf-button--size-1"><span class="sf-button-text-container">Обзор</span></button>
      <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1"><span class="sf-button-text-container">Команда</span></button>
      <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1"><span class="sf-button-text-container">История</span></button>
    </nav>
  </div>
  <div class="sf-tabs-main-container">
    <section class="sf-tabs-main-tab selected">Краткая информация о проекте.</section>
    <section class="sf-tabs-main-tab">Участники и роли команды.</section>
    <section class="sf-tabs-main-tab">Последние изменения проекта.</section>
  </div>
</div>
