<div class="flex flex-wrap gap-2 items-cross-center">
  <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1">
    <span class="sf-button-text-container">Системное</span>
  </button>
  <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1 radius-square">
    <span class="sf-button-text-container">Без скругления</span>
  </button>
  <button type="button" class="sf-button sf-button--default sf-button--primary sf-button--size-1 radius-rounded">
    <span class="sf-button-text-container">Округлое</span>
  </button>
</div>
