<div class="sf-steps sf-steps--size-1 flex flex-col" aria-label="Состояния проверки">
  <div class="sf-steps-container flex items-center">
    <div class="sf-step sf-step--size-1 sf-step--stage-completed flex items-center justify-center"><i class="sf-icon" aria-hidden="true">check_circle</i><span class="sf-step-container">Готово</span></div>
    <i class="sf-icon" aria-hidden="true">chevron_right</i>
    <div class="sf-step sf-step--size-1 sf-step--stage-error selected flex items-center justify-center" aria-current="step"><i class="sf-icon" aria-hidden="true">error</i><span class="sf-step-container">Ошибка</span></div>
    <i class="sf-icon" aria-hidden="true">chevron_right</i>
    <div class="sf-step sf-step--size-1 sf-step--stage-default disabled flex items-center justify-center" aria-disabled="true"><span class="sf-step-container">Недоступно</span></div>
  </div>
</div>
