<div class="sf-steps sf-steps--size-1 flex flex-col">
  <div class="sf-steps-container flex items-center" role="list" aria-label="Состояния проверки">
    <div class="sf-step sf-step--size-1 sf-step--stage-completed flex items-center justify-center" role="listitem"><i class="sf-icon" aria-hidden="true">check_circle</i><span class="sf-step-container">Данные<span class="sr-only">, завершено</span></span></div>
    <i class="sf-icon" aria-hidden="true">chevron_right</i>
    <div class="sf-step sf-step--size-1 sf-step--stage-error selected flex items-center justify-center" role="listitem" aria-current="step"><i class="sf-icon" aria-hidden="true">error</i><span class="sf-step-container">Проверка<span class="sr-only">, ошибка</span></span></div>
    <i class="sf-icon" aria-hidden="true">chevron_right</i>
    <div class="sf-step sf-step--size-1 sf-step--stage-default disabled flex items-center justify-center" role="listitem" aria-disabled="true"><span class="sf-step-container">Подтверждение<span class="sr-only">, недоступно</span></span></div>
  </div>
</div>
