<section class="grid gap-4 max-w-lg items-main-start">
 <div class="grid gap-2">
 <div>Size 1</div>
 </div>
 <div class="grid gap-2">
 <div>Simple</div>
 <div class="grid grid-col-1 md:grid-col-2 gap-2">
 <label
 class="sf-toggle sf-toggle--simple sf-toggle--size-1 flex items-center"
 >
 <span class="sf-toggle-control">
 <input type="checkbox" name="toggle_simple" />
 <span
 class="sf-toggle-container transition flex items-center content-main-start"
 >
 <span
 class="sf-toggle-inner-wrap transition flex items-center content-main-center"
 >
 <span
 class="sf-toggle-inner transition"
 aria-hidden="true"
 ></span>
 </span>
 </span>
 </span>
 <span class="sf-toggle-text">Default toggle</span>
 </label>
 <label
 class="sf-toggle sf-toggle--simple sf-toggle--size-2 flex items-center"
 >
 <span class="sf-toggle-control">
 <input type="checkbox" name="toggle_simple" />
 <span
 class="sf-toggle-container transition flex items-center content-main-start"
 >
 <span
 class="sf-toggle-inner-wrap transition flex items-center content-main-center"
 >
 <span
 class="sf-toggle-inner transition"
 aria-hidden="true"
 ></span>
 </span>
 </span>
 </span>
 <span class="sf-toggle-text">Default toggle</span>
 </label>
 <label
 class="sf-toggle sf-toggle--simple sf-toggle--size-1 flex items-center"
 >
 <span class="sf-toggle-control">
 <input disabled type="checkbox" name="toggle_simple" />
 <span
 class="sf-toggle-container transition flex items-center content-main-start"
 >
 <span
 class="sf-toggle-inner-wrap transition flex items-center content-main-center"
 >
 <span
 class="sf-toggle-inner transition"
 aria-hidden="true"
 ></span>
 </span>
 </span>
 </span>
 <span class="sf-toggle-text">Default toggle</span>
 </label>
 <label
 class="sf-toggle sf-toggle--simple sf-toggle--size-2 flex items-center"
 >
 <span class="sf-toggle-control">
 <input disabled type="checkbox" name="toggle_simple" />
 <span
 class="sf-toggle-container transition flex items-center content-main-start"
 >
 <span
 class="sf-toggle-inner-wrap transition flex items-center content-main-center"
 >
 <span
 class="sf-toggle-inner transition"
 aria-hidden="true"
 ></span>
 </span>
 </span>
 </span>
 <span class="sf-toggle-text">Default toggle</span>
 </label>
 </div>
 </div>

 <div class="grid gap-2">
 <div>Icon</div>
 <div class="grid grid-col-1 md:grid-col-2 gap-2">
 <label
 class="sf-toggle sf-toggle--icon sf-toggle--size-1 flex items-center"
 >
 <span class="sf-toggle-control">
 <input type="checkbox" name="toggle_icon" />
 <span
 class="sf-toggle-container transition flex items-center content-main-start"
 >
 <span
 class="sf-toggle-inner-wrap transition flex items-center content-main-center"
 >
 <i class="sf-icon" aria-hidden="true">dark_mode</i>
 </span>
 </span>
 </span>
 <span class="sf-toggle-text">Icon toggle</span>
 </label>
 <label
 class="sf-toggle sf-toggle--icon sf-toggle--size-2 flex items-center"
 >
 <span class="sf-toggle-control">
 <input type="checkbox" name="toggle_icon" />
 <span
 class="sf-toggle-container transition flex items-center content-main-start"
 >
 <span
 class="sf-toggle-inner-wrap transition flex items-center content-main-center"
 >
 <i class="sf-icon" aria-hidden="true">dark_mode</i>
 </span>
 </span>
 </span>
 <span class="sf-toggle-text">Icon toggle</span>
 </label>
 <label
 class="sf-toggle sf-toggle--icon sf-toggle--size-1 flex items-center"
 >
 <span class="sf-toggle-control">
 <input type="checkbox" disabled name="toggle_icon" />
 <span
 class="sf-toggle-container transition flex items-center content-main-start"
 >
 <span
 class="sf-toggle-inner-wrap transition flex items-center content-main-center"
 >
 <i class="sf-icon" aria-hidden="true">dark_mode</i>
 </span>
 </span>
 </span>
 <span class="sf-toggle-text">Icon toggle</span>
 </label>
 <label
 class="sf-toggle sf-toggle--icon sf-toggle--size-2 flex items-center"
 >
 <span class="sf-toggle-control">
 <input type="checkbox" disabled name="toggle_icon" />
 <span
 class="sf-toggle-container transition flex items-center content-main-start"
 >
 <span
 class="sf-toggle-inner-wrap transition flex items-center content-main-center"
 >
 <i class="sf-icon" aria-hidden="true">dark_mode</i>
 </span>
 </span>
 </span>
 <span class="sf-toggle-text">Icon toggle</span>
 </label>
 </div>
 </div>

 <div class="grid gap-2">
 <div>Short</div>
 <div class="grid grid-col-1 md:grid-col-2 gap-2">
 <label
 class="sf-toggle sf-toggle--short sf-toggle--size-1 flex items-center"
 >
 <span class="sf-toggle-control">
 <input type="checkbox" name="toggle_short" />
 <span
 class="sf-toggle-container transition flex items-center content-main-start"
 >
 <span
 class="sf-toggle-inner-wrap transition flex items-center content-main-center"
 >
 <span
 class="sf-toggle-inner transition"
 aria-hidden="true"
 ></span>
 </span>
 </span>
 </span>
 <span class="sf-toggle-text">Short toggle</span>
 </label>
 <label
 class="sf-toggle sf-toggle--short sf-toggle--size-2 flex items-center"
 >
 <span class="sf-toggle-control">
 <input type="checkbox" name="toggle_short" />
 <span
 class="sf-toggle-container transition flex items-center content-main-start"
 >
 <span
 class="sf-toggle-inner-wrap transition flex items-center content-main-center"
 >
 <span
 class="sf-toggle-inner transition"
 aria-hidden="true"
 ></span>
 </span>
 </span>
 </span>
 <span class="sf-toggle-text">Short toggle</span>
 </label>
 <label
 class="sf-toggle sf-toggle--short sf-toggle--size-1 flex items-center"
 >
 <span class="sf-toggle-control">
 <input type="checkbox" disabled name="toggle_short" />
 <span
 class="sf-toggle-container transition flex items-center content-main-start"
 >
 <span
 class="sf-toggle-inner-wrap transition flex items-center content-main-center"
 >
 <span
 class="sf-toggle-inner transition"
 aria-hidden="true"
 ></span>
 </span>
 </span>
 </span>
 <span class="sf-toggle-text">Short toggle</span>
 </label>
 <label
 class="sf-toggle sf-toggle--short sf-toggle--size-2 flex items-center"
 >
 <span class="sf-toggle-control">
 <input type="checkbox" disabled name="toggle_short" />
 <span
 class="sf-toggle-container transition flex items-center content-main-start"
 >
 <span
 class="sf-toggle-inner-wrap transition flex items-center content-main-center"
 >
 <span
 class="sf-toggle-inner transition"
 aria-hidden="true"
 ></span>
 </span>
 </span>
 </span>
 <span class="sf-toggle-text">Short toggle</span>
 </label>
 </div>
 </div>
</section>
