<div class="grid grid-col-1 md:grid-col-2 gap-3">
  <div>
    <p id="range-keyboard-default" class="m-b-1/2">Стандартное клавиатурное управление</p>
    <div class="sf-range-slider" data-start="35" data-step="5" aria-labelledby="range-keyboard-default"></div>
  </div>
  <div>
    <p id="range-keyboard-external" class="m-b-1/2">Клавиатурой управляет приложение</p>
    <div class="sf-range-slider" data-start="65" data-step="5" data-keyboard="false" aria-labelledby="range-keyboard-external"></div>
  </div>
</div>
