<label class="sf-input sf-input--size-1 sf-input--bordered flex flex-col" data-mask="true" data-mask-pattern="+{7} (000) 000-00-00">
  <span class="sf-input-label flex"><span class="sf-input-text">Телефон</span></span>
  <span class="sf-input-field items-cross-center transition flex">
    <i class="sf-icon" aria-hidden="true">call</i>
    <input type="tel" name="phone" autocomplete="tel" inputmode="tel" placeholder="+7 (___) ___-__-__" data-mask="true" data-mask-pattern="+{7} (000) 000-00-00">
  </span>
  <span class="sf-input-hint-text-wrap">Введите десять цифр после кода страны</span>
</label>
