<div class="flex flex-wrap gap-1" role="group" aria-label="Выбор темы">
 <button class="sf-theme-button sf-button sf-button--outline sf-button--on-surface sf-button--size-1" type="button" data-theme="system" aria-pressed="false"><span class="sf-button-text-container">Системная</span></button>
 <button class="sf-theme-button sf-button sf-button--outline sf-button--on-surface sf-button--size-1" type="button" data-theme="light" aria-pressed="false"><span class="sf-button-text-container">Светлая</span></button>
 <button class="sf-theme-button sf-button sf-button--outline sf-button--on-surface sf-button--size-1" type="button" data-theme="dark" aria-pressed="false"><span class="sf-button-text-container">Тёмная</span></button>
</div>
