<div class="grid grid-col-1 md:grid-col-2 gap-3">
  <label class="sf-input sf-input--size-1 sf-input--bordered flex flex-col">
    <span class="sf-input-label flex"><span class="sf-input-text">Поле с границей</span></span>
    <span class="sf-input-field items-cross-center transition flex"><input type="text" name="bordered"></span>
  </label>
  <label class="sf-input sf-input--size-1 sf-input--filled flex flex-col">
    <span class="sf-input-label flex"><span class="sf-input-text">Поле на поверхности</span></span>
    <span class="sf-input-field items-cross-center transition flex"><i class="sf-icon" aria-hidden="true">search</i><input type="search" name="filled"><span class="sf-input-right">⌘ K</span></span>
  </label>
</div>
