<section class="grid max-w-sm items-main-start gap-2">
 <div class="sf-reference-link flex items-cross-center">
 <div class="sf-reference-link-left flex items-cross-center">
 <i class="sf-icon">arrow_forward</i>
 <a href="#">Getting Started</a>
 </div>
 <div class="sf-reference-link-text">/guides/getting-started/</div>
 </div>
 <div class="sf-reference-link disabled flex items-cross-center">
 <div class="sf-reference-link-left flex items-cross-center">
 <i class="sf-icon">link_off</i>
 <a href="#">Disabled</a>
 </div>
 <div class="sf-reference-link-text">/guides/getting-started/</div>
 </div>
</section>
