<div class="grid gap-2 max-w-sm">
  <div class="sf-reference-link flex items-cross-center"><div class="sf-reference-link-left flex items-cross-center"><i class="sf-icon">arrow_forward</i><a href="#available">Доступная ссылка</a></div><div class="sf-reference-link-text">/guide/</div></div>
  <div class="sf-reference-link disabled flex items-cross-center" aria-disabled="true"><div class="sf-reference-link-left flex items-cross-center"><i class="sf-icon">link_off</i><span>Недоступная ссылка</span></div><div class="sf-reference-link-text">/archive/</div></div>
</div>
