<div class="grid grid-col-1 gap-2">
  <div class="relative p-3 radius-default border border-outline-variant">
    <code id="copy-small">npm install @simai/ui</code>
    <button type="button" class="sf-clipboard sf-clipboard-1 sf-clipboard-surface btn-clipboard" data-clipboard-target="#copy-small" aria-label="Копировать, размер 1">
      <i class="sf-icon" aria-hidden="true">content_copy</i>
    </button>
  </div>
  <div class="relative p-3 radius-default border border-outline-variant">
    <code id="copy-medium">npm install @simai/ui</code>
    <button type="button" class="sf-clipboard sf-clipboard-2 sf-clipboard-surface btn-clipboard" data-clipboard-target="#copy-medium" aria-label="Копировать, размер 2">
      <i class="sf-icon" aria-hidden="true">content_copy</i>
    </button>
  </div>
  <div class="relative p-3 radius-default border border-outline-variant">
    <code id="copy-large">npm install @simai/ui</code>
    <button type="button" class="sf-clipboard sf-clipboard-3 sf-clipboard-surface btn-clipboard" data-clipboard-target="#copy-large" aria-label="Копировать, размер 3">
      <i class="sf-icon" aria-hidden="true">content_copy</i>
    </button>
  </div>
</div>
