<nav class="sf-breadcrumbs flex items-cross-center" data-max-items="4" aria-label="Длинный путь">
  <a class="sf-breadcrumbs-item sf-breadcrumbs-item--link" href="#home"><span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon" aria-hidden="true">home</i></span></a>
  <span class="sf-breadcrumbs-item sf-breadcrumbs-item--default" aria-hidden="true"><span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon">chevron_right</i></span></span>
  <a class="sf-breadcrumbs-item sf-breadcrumbs-item--link" href="#catalog"><span class="sf-breadcrumbs-item-container flex items-cross-center">Каталог</span></a>
  <span class="sf-breadcrumbs-item sf-breadcrumbs-item--default" aria-hidden="true"><span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon">chevron_right</i></span></span>
  <a class="sf-breadcrumbs-item sf-breadcrumbs-item--link" href="#ui"><span class="sf-breadcrumbs-item-container flex items-cross-center">Интерфейс</span></a>
  <span class="sf-breadcrumbs-item sf-breadcrumbs-item--default" aria-hidden="true"><span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon">chevron_right</i></span></span>
  <a class="sf-breadcrumbs-item sf-breadcrumbs-item--link" href="#navigation"><span class="sf-breadcrumbs-item-container flex items-cross-center">Навигация</span></a>
  <span class="sf-breadcrumbs-item sf-breadcrumbs-item--default" aria-hidden="true"><span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon">chevron_right</i></span></span>
  <span class="sf-breadcrumbs-item active"><span class="sf-breadcrumbs-item-container flex items-cross-center" aria-current="page">Хлебные крошки</span></span>
</nav>
