<div class="grid grid-col-1 gap-2">
  <label class="sf-textarea sf-textarea--size-1/3 sf-textarea--bordered flex flex-col"><span class="sf-textarea-label flex"><span class="sf-textarea-text">Размер 1/3</span></span><textarea class="transition" rows="2"></textarea></label>
  <label class="sf-textarea sf-textarea--size-1/2 sf-textarea--bordered flex flex-col"><span class="sf-textarea-label flex"><span class="sf-textarea-text">Размер 1/2</span></span><textarea class="transition" rows="2"></textarea></label>
  <label class="sf-textarea sf-textarea--size-1 sf-textarea--bordered flex flex-col"><span class="sf-textarea-label flex"><span class="sf-textarea-text">Размер 1</span></span><textarea class="transition" rows="2"></textarea></label>
  <label class="sf-textarea sf-textarea--size-2 sf-textarea--bordered flex flex-col"><span class="sf-textarea-label flex"><span class="sf-textarea-text">Размер 2</span></span><textarea class="transition" rows="2"></textarea></label>
  <label class="sf-textarea sf-textarea--size-3 sf-textarea--bordered flex flex-col"><span class="sf-textarea-label flex"><span class="sf-textarea-text">Размер 3</span></span><textarea class="transition" rows="2"></textarea></label>
</div>
