<div class="flex flex-wrap gap-1 items-center">
  <span class="sf-badge sf-badge--tonal sf-badge--success sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
    <span class="sf-badge-icon-container flex justify-center items-center"><i class="sf-icon" aria-hidden="true">check</i></span>
    <span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Проверено</span></span>
  </span>
  <span class="sf-badge sf-badge--outline sf-badge--info sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
    <span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Справка</span></span>
    <span class="sf-badge-icon-container flex justify-center items-center"><i class="sf-icon" aria-hidden="true">info</i></span>
  </span>
  <span class="sf-badge sf-badge--main sf-badge--danger sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
    <span class="sr-only">Больше девяноста девяти непрочитанных сообщений</span>
    <span class="sf-badge-text-container flex items-center" aria-hidden="true"><span class="sf-badge-text">99+</span></span>
  </span>
  <span class="sf-badge sf-badge--main sf-badge--success sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
    <span class="sr-only">Подтверждено</span>
    <span class="sf-badge-icon-container flex justify-center items-center"><i class="sf-icon" aria-hidden="true">verified</i></span>
  </span>
</div>
