<div class="wrap grid grid-col-1 sm:grid-col-2 gap-3 content-main-start">
  <div class="flex flex-col gap-1">
    <div class="sf-text-1/2 weight-6">float-inline-start</div>
    <div class="demo m-0 bg-surface-0 border border-outline-variant radius-2 p-3">
      <img src="assets/color-study.jpg" class="float-inline-start radius-2 m-inline-end-2 m-bottom-2" style="width:8rem;height:6rem;object-fit:cover" alt="Colourful still life">
      <p class="sf-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Mauris ut felis sed urna pulvinar mollis.</p>
    </div>
  </div>

  <div class="flex flex-col gap-1">
    <div class="sf-text-1/2 weight-6">float-inline-end</div>
    <div class="demo m-0 bg-surface-0 border border-outline-variant radius-2 p-3">
      <img src="assets/color-study.jpg" class="float-inline-end radius-2 m-inline-start-2 m-bottom-2" style="width:8rem;height:6rem;object-fit:cover" alt="Colourful still life">
      <p class="sf-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Mauris ut felis sed urna pulvinar mollis.</p>
    </div>
  </div>
</div>
