<div class="max-container p-b4 m-auto">
 <h1 class="text-4 m-bottom-b4">Badges — types, schemes, sizes</h1>

 <div class="grid">
 <div
 class="flex flex-col gap-1 bg-surface-container p-b4 radius-2 shadow-2">
 <div class="text-2 weight-6">Main / neutral</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--main sf-badge--neutral sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--main sf-badge--neutral sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--main sf-badge--neutral sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Tonal / neutral</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--tonal sf-badge--neutral sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--tonal sf-badge--neutral sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--tonal sf-badge--neutral sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Outline / neutral</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--outline sf-badge--neutral sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--outline sf-badge--neutral sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--outline sf-badge--neutral sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Main / primary</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--main sf-badge--primary sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--main sf-badge--primary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--main sf-badge--primary sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Tonal / primary</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--tonal sf-badge--primary sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--tonal sf-badge--primary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--tonal sf-badge--primary sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Outline / primary</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--outline sf-badge--primary sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--outline sf-badge--primary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--outline sf-badge--primary sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Main / secondary</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--main sf-badge--secondary sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--main sf-badge--secondary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--main sf-badge--secondary sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Tonal / secondary</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--tonal sf-badge--secondary sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--tonal sf-badge--secondary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--tonal sf-badge--secondary sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Outline / secondary</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--outline sf-badge--secondary sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--outline sf-badge--secondary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--outline sf-badge--secondary sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Main / tertiary</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--main sf-badge--tertiary sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--main sf-badge--tertiary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--main sf-badge--tertiary sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Tonal / tertiary</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--tonal sf-badge--tertiary sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--tonal sf-badge--tertiary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--tonal sf-badge--tertiary sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Outline / tertiary</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--outline sf-badge--tertiary sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--outline sf-badge--tertiary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--outline sf-badge--tertiary sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Main / on-surface</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--main sf-badge--on-surface sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--main sf-badge--on-surface sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--main sf-badge--on-surface sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 <div class="text-2 weight-6">Outline / on-surface</div>
 <div
 class="grid grid-flow-col auto-cols gap-1 items-main-center content-main-start m-0">
 <div
 class="sf-badge sf-badge--outline sf-badge--on-surface sf-badge--size-1 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--outline sf-badge--on-surface sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 <div
 class="sf-badge sf-badge--outline sf-badge--on-surface sf-badge--size-1/3 flex flex-row flex-nowrap justify-center items-center">
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_upward</i
 ></span
 >
 <span class="sf-badge-text-container flex items-center"
 ><span class="sf-badge-text">99+</span></span
 >
 <span
 class="sf-badge-icon-container flex justify-center items-center"
 ><i class="sf-icon flex justify-center items-center"
 >arrow_downward</i
 ></span
 >
 </div>
 </div>
 </div>
 </div>
</div>
