<div class="grid gap-2">
  <div class="grid gap-1">
    <strong>Нейтральный</strong>
    <div class="flex flex-wrap gap-1 items-center">
      <span class="sf-badge sf-badge--main sf-badge--neutral sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Основной</span></span></span>
      <span class="sf-badge sf-badge--tonal sf-badge--neutral sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Тональный</span></span></span>
      <span class="sf-badge sf-badge--outline sf-badge--neutral sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Контурный</span></span></span>
    </div>
  </div>
  <div class="grid gap-1">
    <strong>Основной цвет</strong>
    <div class="flex flex-wrap gap-1 items-center">
      <span class="sf-badge sf-badge--main sf-badge--primary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Основной</span></span></span>
      <span class="sf-badge sf-badge--tonal sf-badge--primary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Тональный</span></span></span>
      <span class="sf-badge sf-badge--outline sf-badge--primary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Контурный</span></span></span>
    </div>
  </div>
  <div class="grid gap-1">
    <strong>Вторичный цвет</strong>
    <div class="flex flex-wrap gap-1 items-center">
      <span class="sf-badge sf-badge--main sf-badge--secondary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Основной</span></span></span>
      <span class="sf-badge sf-badge--tonal sf-badge--secondary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Тональный</span></span></span>
      <span class="sf-badge sf-badge--outline sf-badge--secondary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Контурный</span></span></span>
    </div>
  </div>
  <div class="grid gap-1">
    <strong>Третичный цвет</strong>
    <div class="flex flex-wrap gap-1 items-center">
      <span class="sf-badge sf-badge--main sf-badge--tertiary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Основной</span></span></span>
      <span class="sf-badge sf-badge--tonal sf-badge--tertiary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Тональный</span></span></span>
      <span class="sf-badge sf-badge--outline sf-badge--tertiary sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Контурный</span></span></span>
    </div>
  </div>
  <div class="grid gap-1">
    <strong>Информация</strong>
    <div class="flex flex-wrap gap-1 items-center">
      <span class="sf-badge sf-badge--main sf-badge--info sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Информация</span></span></span>
      <span class="sf-badge sf-badge--tonal sf-badge--info sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Информация</span></span></span>
      <span class="sf-badge sf-badge--outline sf-badge--info sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Информация</span></span></span>
    </div>
  </div>
  <div class="grid gap-1">
    <strong>Успех</strong>
    <div class="flex flex-wrap gap-1 items-center">
      <span class="sf-badge sf-badge--main sf-badge--success sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Готово</span></span></span>
      <span class="sf-badge sf-badge--tonal sf-badge--success sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Готово</span></span></span>
      <span class="sf-badge sf-badge--outline sf-badge--success sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Готово</span></span></span>
    </div>
  </div>
  <div class="grid gap-1">
    <strong>Предупреждение</strong>
    <div class="flex flex-wrap gap-1 items-center">
      <span class="sf-badge sf-badge--main sf-badge--warning sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Проверьте</span></span></span>
      <span class="sf-badge sf-badge--tonal sf-badge--warning sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Проверьте</span></span></span>
      <span class="sf-badge sf-badge--outline sf-badge--warning sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Проверьте</span></span></span>
    </div>
  </div>
  <div class="grid gap-1">
    <strong>Ошибка</strong>
    <div class="flex flex-wrap gap-1 items-center">
      <span class="sf-badge sf-badge--main sf-badge--danger sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Ошибка</span></span></span>
      <span class="sf-badge sf-badge--tonal sf-badge--danger sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Ошибка</span></span></span>
      <span class="sf-badge sf-badge--outline sf-badge--danger sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">Ошибка</span></span></span>
    </div>
  </div>
  <div class="grid gap-1">
    <strong>На поверхности</strong>
    <div class="flex flex-wrap gap-1 items-center">
      <span class="sf-badge sf-badge--main sf-badge--on-surface sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">PHP 8.2</span></span></span>
      <span class="sf-badge sf-badge--outline sf-badge--on-surface sf-badge--size-1/2 flex flex-row flex-nowrap justify-center items-center"><span class="sf-badge-text-container flex items-center"><span class="sf-badge-text">PHP 8.2</span></span></span>
    </div>
  </div>
</div>
