<div class="sf-steps sf-steps--size-1 flex flex-col" aria-label="Оформление заказа">
  <div class="sf-steps-container flex items-center">
    <div class="sf-step sf-step--size-1 sf-step--stage-completed flex items-center justify-center"><i class="sf-icon" aria-hidden="true">check_circle</i><span class="sf-step-container">Корзина</span></div>
    <i class="sf-icon" aria-hidden="true">chevron_right</i>
    <div class="sf-step sf-step--size-1 sf-step--stage-default selected flex items-center justify-center" aria-current="step"><span class="sf-step-container">Доставка</span></div>
    <i class="sf-icon" aria-hidden="true">chevron_right</i>
    <div class="sf-step sf-step--size-1 sf-step--stage-default flex items-center justify-center"><span class="sf-step-container">Оплата</span></div>
  </div>
</div>
