<nav aria-label="Меню со состояниями">
  <ul class="sf-menu max-w-sm">
    <li class="sf-menu-item">
      <a class="sf-menu-element" href="#overview" aria-current="page">Обзор</a>
    </li>
    <li class="sf-menu-item" expanded>
      Открытая ветка
      <ul class="sf-menu">
        <li class="sf-menu-item">
          <a class="sf-menu-element" href="#details">Подробности</a>
        </li>
      </ul>
    </li>
    <li class="sf-menu-item" disabled>
      Недоступная ветка
      <ul class="sf-menu">
        <li class="sf-menu-item">
          <a class="sf-menu-element" href="#later">Будущий раздел</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
