<nav class="sf-breadcrumbs flex items-cross-center" data-max-items="0" aria-label="Путь к текущей странице">
  <a class="sf-breadcrumbs-item sf-breadcrumbs-item--link" href="#home"><span class="sf-breadcrumbs-item-container flex items-cross-center">Главная страница</span></a>
  <span class="sf-breadcrumbs-item sf-breadcrumbs-item--default sf-breadcrumbs-item--separator" aria-hidden="true"><span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon" aria-hidden="true">chevron_right</i></span></span>
  <a class="sf-breadcrumbs-item sf-breadcrumbs-item--link" href="#documentation"><span class="sf-breadcrumbs-item-container flex items-cross-center">Документация пользовательского интерфейса</span></a>
  <span class="sf-breadcrumbs-item sf-breadcrumbs-item--default sf-breadcrumbs-item--separator" aria-hidden="true"><span class="sf-breadcrumbs-item-container flex items-cross-center"><i class="sf-icon" aria-hidden="true">chevron_right</i></span></span>
  <span class="sf-breadcrumbs-item sf-breadcrumbs-item--default active" aria-current="page"><span class="sf-breadcrumbs-item-container flex items-cross-center">Правила проектирования навигационных компонентов</span></span>
</nav>
