<div class="sf-datepicker-row grid grid-col-4 sm:grid-col-7">
  <button class="sf-datepicker-day sf-datepicker-another-month" type="button" aria-label="31 августа 2026"><span class="sf-datepicker-day-date">31</span></button>
  <button class="sf-datepicker-day" type="button" aria-label="1 сентября 2026"><span class="sf-datepicker-day-date">1</span></button>
  <button class="sf-datepicker-day active" type="button" aria-label="2 сентября 2026, выбрано"><span class="sf-datepicker-day-date">2</span></button>
  <button class="sf-datepicker-day sf-datepicker-day-start" type="button" aria-label="3 сентября 2026, начало периода"><span class="sf-datepicker-day-date">3</span></button>
  <button class="sf-datepicker-day sf-datepicker-day-selected" type="button" aria-label="4 сентября 2026, в периоде"><span class="sf-datepicker-day-date">4</span></button>
  <button class="sf-datepicker-day sf-datepicker-day-end" type="button" aria-label="5 сентября 2026, конец периода"><span class="sf-datepicker-day-date">5</span></button>
  <button class="sf-datepicker-day sf-datepicker-day-off disabled" type="button" aria-label="6 сентября 2026, недоступно" disabled><span class="sf-datepicker-day-date">6</span></button>
</div>
